<app-loading [loader]="loader"></app-loading>

<div class="row" *ngIf="!loader">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="col s12 m4 offset-m4">

      <div class="input-field">
        <input type="text" placeholder="Nome" formControlName="name">                
      </div>
      <div class="input-field">
        <input type="text" placeholder="Descrição" formControlName="description">                
      </div>
      <div class="form-select">
        <select formControlName="skillId">
          <option value="" disabled="disabled" selected="selected">Selecione uma habilidade</option>
          <option *ngFor="let skill of skills" value="{{ skill.id }}">{{ skill.name }}</option>
        </select>
      </div>
      <div class="input-field right-align">
        <button type="submit" class="btn-send">Salvar</button>       
      </div>

    </div>

  </form>
</div>