.filter {
    width: 100%;
    height: 35px;
    input {
        float: right;
        width: 250px;
        height: 35px;
        margin-right: 20px;
        border: 0;
        border-bottom: 1px solid #838282;
    }
}

.list {
    width: 90%;
    display: table;
    margin: 0 auto;
}

.projectHeader {
    display: table-header-group;
    p {
        padding: 8px 15px;
        display: table-cell;
        font-weight: bold;
    }
}
.project {
    display: table-row;
    cursor: pointer;
    p {
        padding: 8px 15px;
        display: table-cell;
    }
}
.project:hover, .project.selected {
    background-color: #bbb7b7;
}

.projectModal {
    background-color: white;
    width: 70%;
}