<div class="sidebar" data-color="black" data-image="">
	<div class="logo">
		<a href="./home" class="simple-text logo-mini">
			<div class="logo-img">
				<img src="./assets/images/logo-white-icon-xs.png">
			</div>
		</a>
		<a href="./home" class="simple-text logo-normal">
			<div class="title-img">
				<img src="./assets/images/logo-white-title-sm.png">
			</div>
		</a>
	</div>
	<div class="sidebar-wrapper">
		<app-menu></app-menu>
	</div>
	<div class="sidebar-background" style="background-image: url(assets/images/menu-background.jpg)"></div>
</div>
<div id="black-filter"></div>
