<div class="box" [ngStyle]="{ 'border-color': borderColor }">
  <img
    class="restart"
    src="../../../../assets/gifs/loading.gif"
    *ngIf="clear == true"
  />
  <ng-container *ngFor="let message of messages; trackBy: trackByFn">
    <div class="msgUser" *ngIf="message.hasOwnProperty('user')">
      {{ message.user }}
    </div>
    <div class="msgBot" *ngIf="message.hasOwnProperty('bot')">
      <ng-container *ngFor="let botRes of message.bot">
        {{ botRes.botText }}
        <div class="buttonsContainer" *ngIf="botRes.hasOwnProperty('buttons')">
          <button
            *ngFor="let button of botRes.buttons"
            (click)="sendButton(button.payload, button.title)"
            class="botButton"
            [ngStyle]="{ color: buttonsColor, 'border-color': buttonsColor }"
          >
            {{ button.title }}
          </button>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <div class="loading" *ngIf="loadingMsg">O assistente está digitando...</div>
</div>
