@font-face { font-family: Intro; src: url("../../../../assets/Intro.otf"); }

header nav {
    background-color: #cc092f;
}
header nav img {
    height: var(--logo-height);
}
header nav .brand-logo {
    font-family: Intro;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
}
@media (max-width: 604px) 
{
    header nav .brand-logo {
        font-size: 15px;
    }
}