<div class="row center-align">
  <div class="col s12 m3">
    <a routerLink="/admin/player" class="buttonRegister waves-effect waves-light center-align">
      <i class="material-icons">person_add</i>
      <p>Players</p>
    </a>
  </div>
  <div class="col s12 m3">
    <a routerLink="/admin/department" class="buttonRegister waves-effect waves-light center-align">
      <i class="material-icons">work</i>
      <p>Cadastrar<br>departamento</p>
    </a>
  </div>
  <div class="col s12 m3">
    <a routerLink="/admin/team" class="buttonRegister waves-effect waves-light center-align">
      <i class="material-icons">people</i>
      <p>Cadastrar<br>equipe</p>
    </a>
  </div>
  <div class="col s12 m3">
    <a routerLink="/admin/card" activate class="buttonRegister waves-effect waves-light center-align">
      <i class="material-icons">work</i>
      <p>Cadastrar<br>cartas</p>
    </a>
  </div>
</div>