<div id="modal">
    <div class="modal-header">
        Adicionar carta
        <button type="button" class="close btn" [mat-dialog-close]="true"><i class="material-icons">close</i></button>
    </div>
    <div class="modal-body">
        <div class="find">
            <div *ngFor="let levelElement of cardKnowledgeFilter; let i= index" [ngClass]="{'help' : status}">
                <mat-form-field>
                    <mat-label>{{ levelElement.knowledgeList[0].type.name }}</mat-label>
                    <mat-select (selectionChange)="FindParente($event.value, levelElement)">
                        <mat-option *ngFor="let knowledge of levelElement.knowledgeList; let i= index" [value]="knowledge">{{ knowledge.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="button button-primary right" [disabled]="disabled" [ngStyle]="{'background-color': mainStyle}" (click)="confirmCard()">{{ 'CONFIRM' | translate }}</button>
    </div>
</div>