<div id="modal">
    <div class="modal-header">
        Adicionar carta
        <button type="button" class="close btn" [mat-dialog-close]="true"><i class="material-icons">close</i></button>
    </div>
    <div class="modal-body">
        <div class="find">
            <div *ngFor="let levelElement of cardKnowledgeFilter; let i= index" [ngClass]="{'help' : status}">
                <mat-form-field>
                    <mat-label>{{ levelElement.knowledgeList[0].type.name }}</mat-label>
                    <mat-select (selectionChange)="FindParente($event.value, levelElement)">
                        <ng-container *ngFor="let knowledge of levelElement.knowledgeList; let i= index">
                            <mat-option *ngIf="isKnowledge(knowledge)" [value]="knowledge">{{ knowledge.name }}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-form-field *ngIf="classificationList">
                <mat-label>Classificação</mat-label>
                <mat-select (selectionChange)="selectClassification($event.value)">
                    <mat-option *ngFor="let classification of classificationList; let i= index" [value]="classification">{{ classification.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="modal-footer">
        <button class="button button-primary right" [disabled]="disabled" [ngStyle]="{'background-color': mainStyle}" (click)="confirmCard()">{{ 'CONFIRM' | translate }}</button>
    </div>
</div>