.modal-header {
  padding-bottom: 0px !important;
}
.modal-header span {
  font-size: 10px;
  position: relative;
  top: -12px;
  margin: 0px;
  padding: 5px;
  /* background: #808080; */
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
}
