<div class="header-container" [ngStyle]="{ 'background-color': headerColor }">
  <img class="header-icon" [src]="headerIcon" alt="icone workplayer" />
  <span class="header-title" [ngStyle]="{ 'color': fontColor }">Workplayer</span>
  <div class="icons">
    <button mat-icon-button
      [ngStyle]="{ color: fontColor }"
      (click)="minimize()"
    >
      <mat-icon class="iconBttn">
        {{ minMax }}
      </mat-icon>
    </button>
    <button mat-icon-button
      [ngStyle]="!bool ? { 'color': fontColor } : { 'color': '#BBBBBB' }"
      (click)="clearChat()"
      [disabled] = "bool"
    >
      <mat-icon class="iconBttn">
        replay
      </mat-icon>
    </button>
    <button mat-icon-button
      [ngStyle]="{ color: fontColor }"
      (click)="closeChat()"
    >
      <mat-icon class="iconBttn">
        clear
      </mat-icon>
  </button>
  </div>
</div>
