mat-dialog-content {
    max-height: 65vh;
}
mat-dialog-content .title {
    font-weight: bold;
    font-size: 15px;
}
mat-dialog-actions {
    padding: 24px 0px;
}
mat-dialog-content .activityDay {
    border: 1px solid #eee;
    /* margin: 7px 0; */
    text-align: center;
    line-height: 35px;
    background-color: #ff9d8c;
    color: white;
    border-radius: 10px;
    padding: 5px 35px;
    font-size: 22px;
}