.clearRequestContainer {
  position: absolute;
  bottom: 60px;
  width: 80%;
  height: fit-content;
  color: white;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 10px 5px 10px 5px;
  box-shadow: 0px 0px 17px -4px #000;
  border-radius: 6px;
  left: 10%;
}

.clearButtonsContainer {
  display: flex;
  justify-content: space-evenly;
}

button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-top: 10px;
  min-height: 30px;
  width: fit-content;
  outline: none;
  cursor: pointer;
  background-color: #fff;
}

button:focus {
  background-color: #fff;
}
