<div class="container-fluid">

  <div class="row">
    <div class="find">
      <form [formGroup]="form" (ngSubmit)="ngSubmit()">
        <mat-form-field>
          <mat-label>Buscar dashboards</mat-label>
          <mat-select formControlName="selectedDash">
            <mat-option *ngFor="let dash of dashboardList" [value]="dash">{{ dash.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button type="submit" [ngStyle]="{'background-color': mainStyle}" [disabled]="!form.valid" matTooltip="Procurar" mat-mini-fab color="warn"><i class="material-icons">search</i></button>
      </form>
    </div>
  </div>

  <div class="row" *ngIf="dashboard">
    <div class="col s12 m12 l12">
      <iframe *ngIf="dashboard.link && dashboard.height" width="100%" height="{{dashboard.height}}px" [src]="dashboard.link | safe" frameBorder="0"></iframe>
    </div>
  </div>
  
</div>