<div class="container-fluid">

  <app-loading [loader]="loader"></app-loading>

  <div class="add-project-button" *ngIf="scopes.wpleader || scopes.wpboss || scopes.wprule || scopes.wpmaster">
    <a class="waves-effect waves-light btn-small" (click)="modalAddProject()" [ngStyle]="{'background-color': mainStyle}">
      <i class="material-icons right">add</i>Adicionar projeto
    </a>
  </div>

  <div *ngIf="!loader">
    <div class="row">
      <div class="col s12 m5">
        <app-resource-list (loaderResource)="loaderResource($event)"></app-resource-list>
      </div>
      <div class="col s12 m7">
        <app-projects-list (loaderProject)="loaderProject($event)"></app-projects-list>
      </div>
    </div>
    <div class="graph">
      <app-graph (loaderGraph)="loaderGraph($event)"></app-graph>
    </div>
  </div>

</div>
