<app-loading [loader]="loader"></app-loading>

<div id="modal" *ngIf="!loader">
  <button type="button" class="close btn" [mat-dialog-close]="true"><i class="material-icons">close</i></button>

  <iframe width="100%" height="600" [src]="iframe"></iframe>

  <div class="buttons-bottom">
    <button mat-flat-button [ngStyle]="{'background': mainStyle}" [mat-dialog-close]="true">Cancelar</button>
    <button mat-flat-button [ngStyle]="{'background': secoundStyle}" (click)="registerItem()">Confirmar</button>
  </div>
</div>
