<body class="bodyLogin">
  <div class="row">
    <div>
        <img class="WorkPlayer meio" src="../../../../assets/images/WorkPlayer.png">
    </div>
    <div class="card meio panel col l4 row">

      <form [formGroup]="form" (ngSubmit)="onLogin()">
        <div class="col l12 tineline">
          <div class="input-field">
            <input id="usuario" type="text" class="validate" formControlName="email" placeholder="Usuário" required>
            <label class="active" for="usuario"></label>
          </div>
        </div>
        <div class="col l12 tineline">
          <div class="input-field">
            <input id="senha" type="password" class="validate" formControlName="password" placeholder="Senha" required>
            <label class="active" for="senha"></label>
          </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn center">Entrar</button>
      </form>

    </div>
    <div class="logo">
      <img style="height: 30px; width: 80px" src="../../../../assets/images/kyros_logo.png">
    </div>

    <!-- <ngx-spinner name="wait-login" [fullScreen]="true" type="pacman" size="medium"></ngx-spinner> -->

  </div>
</body>
