<section>

  <div class="center">
    <img src="assets/images/WorkPlayer.png">
    <div class="card">

      <app-loading [loader]="loader"></app-loading>

      <form [formGroup]="form" (submit)="onLogin()" *ngIf="!loader">
        <div class="input-field">
          <input id="usuario" type="text" class="validate" formControlName="email" required>
          <label for="usuario">Usuário</label>
        </div>
        <div class="input-field">
          <input id="senha" type="password" class="validate" formControlName="password" required>
          <label for="senha">Senha</label>
        </div>
        <button type="submit" class="waves-effect waves-light btn center">Entrar</button>
      </form>
      
    </div>
    <img class="logoKyros" src="assets/images/kyros_logo.png">
  </div>

</section>