<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

<body>
<div class="row">
  <div class="row extremidades col l5">
    <div class="card recursos col l3"><h6>RECURSOS</h6><i class="fa fa-filter"></i></div>
    <div class="col l3">
      <div><i class="material-icons">chevron_left</i><i class="material-icons">chevron_right</i></div>
    </div>
    <div class="col l3"></div>
    <div class="col l3">
      <div><i class="material-icons">zoom_out</i><i class="material-icons">zoom_in</i></div>
    </div>
  </div>
  <div class="row extremidades col l1"></div>
  <div class="row extremidades col l6">
      <div class="card recursos col l3"><h6>PROJETOS</h6><i class="fa fa-filter"></i></div>
      <div class="col l3">
        <div><i class="material-icons">chevron_left</i><i class="material-icons">chevron_right</i></div>
      </div>
      <div class="col l3"></div>
      <div class="col l3">
        <div><i class="material-icons">zoom_out</i><i class="material-icons">zoom_in</i></div>
      </div>
    </div>
</div>
<div class="row tables">
  <table class="col s12 m12 l4 centered table1">
    <thead>
      <tr>
          <th class="space days" colspan="2">Java</th>
          <th class="space"></th>
          <th >Dom</th>
          <th>Seg</th>
          <th>Ter</th>
          <th>Qua</th>
          <th>Qui</th>
          <th>Sex</th>
          <th>Sáb</th>
          <th class="space"></th>
          <th>Dom</th>
          <th>Seg</th>
          <th>Ter</th>
          <th>Qua</th>
          <th>Qui</th>
          <th>Sex</th>
          <th>Sáb</th>
      </tr>
    </thead>

    <tbody>
      <tr class="card">
        <td class="spacename"></td>
        <td class="name"><b>Thiago Arantes</b></td>
        <th class="space"></th>
        <td>-</td>
        <td class="concepcao">01</td>
        <td class="concepcao">02</td>
        <td class="concepcao">03</td>
        <td class="concepcao">04</td>
        <td class="concepcao">05</td>
        <td class="concepcao">06</td>
        <td class="space"></td>
        <td>-</td>
        <td class="concepcao2">07</td>
        <td class="concepcao2">08</td>
        <td class="concepcao2">09</td>
        <td class="concepcao2">10</td>
        <td class="concepcao2">11</td>
        <td class="concepcao2">12</td>
      </tr>
      <tr>
        <td>75%</td>
        <td>
          <div class="progress hoverable">
            <div class="determinate" style="width: 75%"></div>
          </div>
        </td>
      </tr>
      <tr class="card">
          <td class="spacename"></td>
        <td class="name"><b>Kim Ruan</b></td>
        <th class="space"></th>
        <td>-</td>
        <td class="concepcao">01</td>
        <td class="concepcao">02</td>
        <td class="concepcao">03</td>
        <td class="concepcaoeconcepcao3">04</td>
        <td class="concepcao3">05</td>
        <td class="concepcao3">06</td>
        <td class="space"></td>
        <td>-</td>
        <td class="concepcao4">07</td>
        <td class="concepcao4">08</td>
        <td class="concepcao4">09</td>
        <td class="concepcao4">10</td>
        <td class="concepcao4">11</td>
        <td class="concepcao4">12</td>
      </tr>
      <tr>
        <td>45%</td>
        <td>
          <div class="progress hoverable">
            <div class="determinate" style="width: 45%"></div>
          </div>
        </td>
      </tr>
      <tr class="card">
          <td class="spacename"></td>
        <td class="name"><b>Luiza Souza</b></td>
        <th class="space"></th>
        <td>-</td>
        <td class="concepcao5">01</td>
        <td class="concepcao5">02</td>
        <td class="concepcao5">03</td>
        <td class="concepcao5">04</td>
        <td class="concepcao5">05</td>
        <td class="concepcao5">06</td>
        <td class="space"></td>
        <td>-</td>
        <td class="concepcao6">07</td>
        <td class="concepcao6">08</td>
        <td class="concepcao6">09</td>
        <td class="concepcao6">10</td>
        <td class="concepcao6">11</td>
        <td class="concepcao6">12</td>
      </tr>
      <tr>
        <td>15%</td>
        <td>
          <div class="progress hoverable">
            <div class="determinate" style="width: 15%"></div>
          </div>
        </td>
      </tr>
      <tr class="card">
          <td class="spacename"></td>
        <td class="name"><b>Matheus Ribeiro</b></td>
        <th class="space"></th>
        <td>-</td>
        <td class="concepcao7">01</td>
        <td class="concepcao7">02</td>
        <td class="concepcao7">03</td>
        <td class="concepcao7">04</td>
        <td class="concepcao7">05</td>
        <td class="concepcao7">06</td>
        <td class="space"></td>
        <td>-</td>
        <td class="concepcao8">07</td>
        <td class="concepcao8">08</td>
        <td class="concepcao8">09</td>
        <td class="concepcao8">10</td>
        <td class="concepcao8">11</td>
        <td class="concepcao8">12</td>
      </tr>
      <tr>
        <td>90%</td>
        <td>
          <div class="progress hoverable">
            <div class="determinate" style="width: 90%"></div>
        </div>
        </td>
      </tr>
      <tr class="card">
          <td class="spacename"></td>
        <td class="name"><b>Vinícius Vense</b></td>
        <th class="space"></th>
        <td>-</td>
        <td class="concepcao9">01</td>
        <td class="concepcao9">02</td>
        <td class="concepcao9">03</td>
        <td>04</td>
        <td>05</td>
        <td>06</td>
        <td class="space"></td>
        <td>-</td>
        <td>07</td>
        <td>08</td>
        <td>09</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
      </tr>
      <tr>
        <td>10%</td>
        <td>  
          <div class="progress hoverable">
            <div class="determinate" style="width: 10%"></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="col s12 m12 l5 centered">
      <thead>
        <tr>
            <th class="space">OP</th>
            <th class="space">N° do cliente</th>
            <th class="space"></th>
            <th >Dom</th>
            <th>Seg</th>
            <th>Ter</th>
            <th>Qua</th>
            <th>Qui</th>
            <th>Sex</th>
            <th>Sáb</th>
            <th class="space"></th>
            <th>Horas</th>
            <th>Data</th>
            <th class="space">Prz.</th>
            <th class="space">Esf.</th>
            <th class="space"></th>
            <th class="space">Status Reports</th>
        </tr>
      </thead>
  
      <tbody>
        <tr class="card">
          <td class="name2 padding-zero"><b>4205</b></td>
          <td class="name3 padding-zero">5056 Projeto Algar Franquias</td>
          <th class="space padding-zero"></th>
          <td>-</td>
          <td class="concepcao padding-zero">01</td>
          <td class="concepcao padding-zero">02</td>
          <td class="concepcao3 padding-zero">03</td>
          <td class="concepcao3 padding-zero">04</td>
          <td class="concepcao3 padding-zero">05</td>
          <td class="concepcao3 padding-zero">06</td>
          <td class="space realprev padding-zero"><b>Real Prev.</b></td>
          <td class="space realprev padding-zero">800<br>700</td>          
          <td class="space realprev padding-zero">15/01 14/01</td>
          <td class="space padding-zero"><i class="material-icons" style="color: rgb(240,0,0)">fiber_manual_record</i></td>
          <td class="space padding-zero"><i class="material-icons" style="color: #FFD700">fiber_manual_record</i></td>
          <td class="space padding-zero" style="display: flex; justify-content: space-around"><i class="material-icons">chevron_left</i><i class="material-icons">chevron_right</i></td>
          <td class="space padding-zero"><i class="material-icons">send</i></td>
        </tr>
        <tr>
            <td>35%</td>
            <td colspan="2">
              <div class="progress hoverable">
                <div class="determinate" style="width: 35%"></div>
              </div>
            </td>
          </tr>
        <tr class="card">
          <td class="name2 padding-zero"><b>370</b></td>
          <td class="name3 padding-zero">5055 Pentest - Autenticação</td>
          <th class="space padding-zero"></th>
          <td>-</td>
          <td class="concepcao3 padding-zero">01</td>
          <td class="concepcao3 padding-zero">02</td>
          <td class="concepcao3 padding-zero">03</td>
          <td class="concepcao3 padding-zero">04</td>
          <td class="concepcao3 padding-zero">05</td>
          <td class="concepcao3 padding-zero">06</td>
          <td class="space realprev padding-zero"><b>Real Prev.</b></td>
          <td class="space realprev padding-zero">1000<br>1200</td>          
          <td class="space realprev padding-zero">30/02 25/02</td>
          <td class="space padding-zero"><i class="material-icons" style="color: rgb(240,0,0)">fiber_manual_record</i></td>
          <td class="space padding-zero"><i class="material-icons" style="color: #32CD32">fiber_manual_record</i></td>
          <td class="space padding-zero"><i class="material-icons">chevron_left</i><i class="material-icons">chevron_right</i></td>
          <td class="space padding-zero"><i class="material-icons">send</i></td>
        </tr>
        <tr>
            <td>55%</td>
            <td colspan="2">
              <div class="progress hoverable">
                <div class="determinate" style="width: 55%"></div>
              </div>
            </td>
          </tr>
        <tr class="card">
          <td class="name2 padding-zero"><b>4614</b></td>
          <td class="name3 padding-zero">5054 Atendimento SGDs</td>
          <th class="space padding-zero"></th>
          <td>-</td>
          <td class="concepcao padding-zero">01</td>
          <td class="concepcao padding-zero">02</td>
          <td class="concepcao padding-zero">03</td>
          <td class="concepcao padding-zero">04</td>
          <td class="concepcao padding-zero">05</td>
          <td class="concepcao padding-zero">06</td>
          <td class="space realprev padding-zero"><b>Real Prev.</b></td>
          <td class="space realprev padding-zero">90<br>110</td>          
          <td class="space realprev padding-zero">27/01 30/01</td>
          <td class="space padding-zero"><i class="material-icons" style="color: #32CD32">fiber_manual_record</i></td>
          <td class="space padding-zero"><i class="material-icons" style="color: #FFD700">fiber_manual_record</i></td>
          <td class="space padding-zero"><i class="material-icons">chevron_left</i><i class="material-icons">chevron_right</i></td>
          <td class="space padding-zero"><i class="material-icons">send</i></td>
        </tr>
        <tr>
            <td>70%</td>
            <td colspan="2">
              <div class="progress hoverable">
                <div class="determinate" style="width: 70%"></div>
              </div>
            </td>
          </tr>
        <tr class="card">
          <td class="name2 padding-zero"><b>4608</b></td>
          <td class="name3 padding-zero">5053 Script - Clientes CGNAT</td>
          <th class="space padding-zero"></th>
          <td>-</td>
          <td>01</td>
          <td>02</td>
          <td>03</td>
          <td>04</td>
          <td>05</td>
          <td>06</td>
          <td class="space realprev padding-zero"><b>Real Prev.</b></td>
          <td class="space realprev padding-zero">80<br>50</td>          
          <td class="space realprev padding-zero">21/01 20/01</td>
          <td class="space padding-zero"><i class="material-icons" style="color: #32CD32">fiber_manual_record</i></td>
          <td class="space padding-zero"><i class="material-icons" style="color: #FFD700">fiber_manual_record</i></td>
          <td class="space padding-zero"><i class="material-icons">chevron_left</i><i class="material-icons">chevron_right</i></td>
          <td class="space padding-zero"><i class="material-icons">send</i></td>
        </tr>
        <tr>
            <td>100%</td>
            <td colspan="2">
              <div class="progress hoverable">
                <div class="determinate" style="width: 100%"></div>
              </div>
            </td>
          </tr>
        <tr class="card">
          <td class="name2 padding-zero"><b>4616</b></td>
          <td class="name3 padding-zero">5052 Revenue Assurance</td>
          <th class="space padding-zero"></th>
          <td>-</td>
          <td class="concepcao padding-zero">01</td>
          <td class="concepcaoeconcepcao3 padding-zero">02</td>
          <td class="concepcao3 padding-zero">03</td>
          <td class="concepcao3 padding-zero">04</td>
          <td class="concepcao3 padding-zero">05</td>
          <td class="concepcao3 padding-zero">06</td>
          <td class="space realprev padding-zero"><b>Real Prev.</b></td>
          <td class="space realprev padding-zero">180<br>95</td>          
          <td class="space realprev padding-zero">02/02 31/01</td>
          <td class="space padding-zero"><i class="material-icons" style="color: rgb(240,0,0)">fiber_manual_record</i></td>
          <td class="space padding-zero"><i class="material-icons" style="color: #32CD32">fiber_manual_record</i></td>
          <td class="space padding-zero"><i class="material-icons">chevron_left</i><i class="material-icons">chevron_right</i></td>
          <td class="space padding-zero"><i class="material-icons">send</i></td>
        </tr>
        <tr>
            <td>40%</td>
            <td colspan="2">
              <div class="progress hoverable">
                <div class="determinate" style="width: 40%"></div>
              </div>
            </td>
          </tr>
          <tr class="card">
              <td class="name2 padding-zero"><b>3684</b></td>
              <td class="name3 padding-zero">5051 Projeto Supply Digital</td>
              <th class="space padding-zero"></th>
              <td>-</td>
              <td class="concepcao9 padding-zero">01</td>
              <td class="concepcao9 padding-zero">02</td>
              <td class="concepcao9 padding-zero">03</td>
              <td class="concepcao9 padding-zero">04</td>
              <td class="concepcao9econcepcao7 padding-zero">05</td>
              <td class="concepcao7 padding-zero">06</td>
              <td class="space realprev padding-zero"><b>Real Prev.</b></td>
              <td class="space realprev padding-zero">24<br>20</td>          
              <td class="space realprev padding-zero">14/01 14/01</td>
              <td class="space padding-zero"><i class="material-icons" style="color: #FFD700">fiber_manual_record</i></td>
              <td class="space padding-zero"><i class="material-icons" style="color: rgb(240,0,0)">fiber_manual_record</i></td>
              <td class="space padding-zero"><i class="material-icons">chevron_left</i><i class="material-icons">chevron_right</i></td>
              <td class="space padding-zero"><i class="material-icons">send</i></td>
            </tr>
            <tr>
                <td>80%</td>
                <td colspan="2">
                  <div class="progress hoverable">
                    <div class="determinate" style="width: 80%"></div>
                  </div>
                </td>
              </tr>
            <tr class="card">
                <td class="name2 padding-zero"><b>3647</b></td>
                <td class="name3 padding-zero">5050 Inconcistências Cobranças</td>
                <th class="space padding-zero"></th>
                <td>-</td>
                <td class="concepcao7 padding-zero">01</td>
                <td class="concepcao7 padding-zero">02</td>
                <td class="concepcao7 padding-zero">03</td>
                <td class="concepcao7 padding-zero">04</td>
                <td class="concepcao7 padding-zero">05</td>
                <td class="concepcao7 padding-zero">06</td>
                <td class="space realprev padding-zero"><b>Real Prev.</b></td>
                <td class="space realprev padding-zero">100<br>98</td>          
                <td class="space realprev padding-zero">02/03 28/02</td>
                <td class="space padding-zero"><i class="material-icons" style="color: #FFD700">fiber_manual_record</i></td>
                <td class="space padding-zero"><i class="material-icons" style="color: #FFD700">fiber_manual_record</i></td>
                <td class="space padding-zero"><i class="material-icons">chevron_left</i><i class="material-icons">chevron_right</i></td>
                <td class="space padding-zero"><i class="material-icons">send</i></td>
              </tr>
              <tr>
                <td>90%</td>
                <td colspan="2">
                  <div class="progress hoverable">
                    <div class="determinate" style="width: 90%"></div>
                  </div>
                </td>
              </tr>
      </tbody>
    </table>
</div> 



<ul class="collapsible">
  <li>
    <div class="collapsible-header">
      <p><b>Legenda</b></p>
    </div>
    <div class="collapsible-body">
      <div class="legenda">
        <p><i class="material-icons" style="color: #FFD700; font-size:18px">report_problem</i> Atenção </p>
        <p><i class="material-icons" style="color: #32CD32; font-size:18px">fiber_manual_record</i> Em progresso </p>
        <p><i class="material-icons" style="color: #0000CD; font-size:18px">thumb_up_alt</i> Concluído com sucesso </p>
        <p><i class="material-icons" style="color: rgb(240, 0, 0)">thumb_down_alt</i> Concluído com atraso </p>
      </div>
    </div>
  </li>
</ul>

<!-- <ul class="collapsible popout">
  <li>
    <div class="collapsible-header"><i class="material-icons">info</i></div>
<div class="col l6 legendaDireita">
  <div class="legenda col l3">
    <p><i class="material-icons" style="color: #ffc26c; font-size:18px">stop</i> Concepção </p>
    <p><i class="material-icons" style="color: #32CD32; font-size:18px">stop</i> Implementação </p>
    <p><i class="material-icons" style="color: #00BFFF; font-size:18px">stop</i> Homologação </p>
    <p><i class="material-icons" style="color: #9400D3; font-size:18px">stop</i> Produção </p>
  </div>
  <div class="legenda2 col l7">
    <p><i class="material-icons" style="color: #32CD32; font-size:18px">fiber_manual_record</i> Completed </p>
    <p><i class="material-icons" style="color: #FFD700; font-size:18px">fiber_manual_record</i> In progress </p>
    <p><i class="material-icons" style="color: rgb(240, 0, 0); font-size:18px">fiber_manual_record</i> Delayed </p>
  </div>
</div>
</li>
</ul> -->
      
<div class="titles row">
  <div class="col l2 centro"><h6>Recurso disponível e planejado</h6></div>
  <div class="col l2 centro"><h6>Recursos atrasados</h6></div>
  <div class="col l2 centro"><h6>Requisitos atrasados</h6></div>
  <div class="col l2 centro"><h6>Projetos atrasados x N° total de projetos</h6></div>
  <div class="col l2 centro"><h6>Projetos alterados</h6></div>
  <div class="col l2 centro"><h6>Conhecimento aproveitado</h6></div>
</div>
  <div class="row graphics">
    <div class="col l2">
        <div style="display: block">
          <canvas baseChart
            [data]="pieChartData"
            [colors]="chartColors"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [legend]="pieChartLegend">
          </canvas>
        </div>
    </div>
    <div class="col l2">
        <div style="display: block">
          <canvas baseChart
            [data]="pieChartData2"
            [colors]="chartColors"            
            [labels]="pieChartLabels2"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [legend]="pieChartLegend2">
          </canvas>
        </div>
    </div>
    <div class="col l2">
        <div style="display: block">
          <canvas baseChart
            [data]="pieChartData3"
            [colors]="chartColors"
            [labels]="pieChartLabels3"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [legend]="pieChartLegend3">
          </canvas>
        </div>
    </div>
    <div class="col l2">
        <div style="display: block">
          <canvas baseChart
            [data]="pieChartData4"
            [colors]="chartColors"
            [labels]="pieChartLabels4"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [legend]="pieChartLegend4">
          </canvas>
        </div>
    </div>
    <div class="col l2">
      <div style="display: block">
        <canvas baseChart
          [data]="pieChartData6"
          [colors]="chartColors"
          [labels]="pieChartLabels6"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [legend]="pieChartLegend6">
        </canvas>
      </div>
    </div>
    <div class="col l2">
      <div style="display: block">
        <canvas baseChart
          [data]="pieChartData7"
          [colors]="chartColors"
          [labels]="pieChartLabels7"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [legend]="pieChartLegend7">
        </canvas>
      </div>
    </div>
  </div>
 
         
  <div class="row col l3 divbotoes">
    <div class="botoes center">
      <a class="btn-floating btn-large btn-generate" title="Anterior"><i class="material-icons">arrow_back</i></a>
      <a class="btn-floating btn-large btn-generate" title="Próximo"><i class="material-icons">arrow_forward</i></a>
      <a class="btn-floating btn-large btn-generate" title="Renderizar"><i class="material-icons">play_circle_filled</i></a>
      <a class="btn-floating btn-large btn-generate" title="Enviar"><i class="material-icons">send</i></a>
    </div>
  </div>
</body>