<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

<div class="row">
  <div class="row extremidades col l5">
    <div class="card recursos col l3">
      <h6>{{ 'RESOURCES' | translate }}</h6><i class="fa fa-filter"></i>
    </div>
    <div class="col l3">
      <div><i class="material-icons">chevron_left</i><i class="material-icons">chevron_right</i></div>
    </div>
    <div class="col l3"></div>
    <div class="col l3">
      <div><i class="material-icons">zoom_out</i><i class="material-icons">zoom_in</i></div>
    </div>
  </div>
  <div class="row extremidades col l1"></div>
  <div class="row extremidades col l6">
    <div class="card recursos col l3">
      <h6>PROJETOS</h6><i class="fa fa-filter"></i>
    </div>
    <div class="col l3">
      <div><i class="material-icons">chevron_left</i><i class="material-icons">chevron_right</i></div>
    </div>
    <div class="col l3"></div>
    <div class="col l3">
      <div><i class="material-icons">zoom_out</i><i class="material-icons">zoom_in</i></div>
    </div>
  </div>
</div>
<div class="row tables">
  <table class="col s12 m12 l4 centered table1">
    <thead>
      <tr>
        <th class="space days" colspan="2">Java</th>
        <th class="space"></th>
        <th *ngFor="let day of daysOfWeek">{{ day }}</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let player of players">
        <tr class="card">
          <td class="spacename"></td>
          <td class="name"><b>{{ player.name }}</b></td>
          <th class="space"></th>
          <ng-container *ngFor="let activity of player.activities  let i = index">
            <td [ngStyle]="{'background-color': activity.style}">
              <button (click)="openModal(activityDetail, player.id, activity.day, activity.month, activity.year)"
                class="transparent-button">{{ activity.day }}</button>
            </td>
          </ng-container>
        </tr>
        <tr>
          <td>{{ player.allocated }}%</td>
          <td>
            <div class="progress hoverable">
              <div class="determinate" [ngStyle]="{'width': player.allocated+'%'}"></div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <table class="col s12 m12 l5 centered">
    <thead>
      <tr>
        <th class="space">OP</th>
        <th class="space">Nome do projeto</th>
        <th class="space"></th>
        <th>Dom</th>
        <th>Seg</th>
        <th>Ter</th>
        <th>Qua</th>
        <th>Qui</th>
        <th>Sex</th>
        <th>Sáb</th>
        <th class="space"></th>
        <th>Horas</th>
        <th>Data</th>
        <th class="space">Prz.</th>
        <th class="space">Esf.</th>
        <th class="space"></th>
        <th class="space">Status Reports</th>
      </tr>
    </thead>

    <tbody>
      <tr class="card">
        <td class="name2 padding-zero"><b>4205</b></td>
        <td class="name3 padding-zero">5056 Integração Financeira</td>
        <th class="space padding-zero"></th>
        <td>-</td>
        <td class="concepcao padding-zero">21</td>
        <td class="concepcao padding-zero">22</td>
        <td class="concepcao3 padding-zero">23</td>
        <td class="concepcao3 padding-zero">24</td>
        <td class="concepcao3 padding-zero">25</td>
        <td class="concepcao3 padding-zero">26</td>
        <td class="space realprev padding-zero"><b>Real Prev.</b></td>
        <td class="space realprev padding-zero">800<br>700</td>
        <td class="space realprev padding-zero">15/01 14/01</td>
        <td class="space padding-zero"><i class="material-icons" style="color: rgb(240,0,0)">fiber_manual_record</i>
        </td>
        <td class="space padding-zero"><i class="material-icons" style="color: #FFD700">fiber_manual_record</i></td>
        <td class="space padding-zero" style="display: flex; justify-content: space-around"><i
            class="material-icons">chevron_left</i><i class="material-icons">chevron_right</i></td>
        <td class="space padding-zero"><i class="material-icons">send</i></td>
      </tr>
      <tr>
        <td>35%</td>
        <td colspan="2">
          <div class="progress hoverable">
            <div class="determinate" style="width: 35%"></div>
          </div>
        </td>
      </tr>
      <tr class="card">
        <td class="name2 padding-zero"><b>370</b></td>
        <td class="name3 padding-zero">5055 Upgrade Internet Banking</td>
        <th class="space padding-zero"></th>
        <td>-</td>
        <td class="concepcao3 padding-zero">79</td>
        <td class="concepcao3 padding-zero">80</td>
        <td class="concepcao3 padding-zero">81</td>
        <td class="concepcao3 padding-zero">82</td>
        <td class="concepcao3 padding-zero">83</td>
        <td class="concepcao3 padding-zero">84</td>
        <td class="space realprev padding-zero"><b>Real Prev.</b></td>
        <td class="space realprev padding-zero">1000<br>1200</td>
        <td class="space realprev padding-zero">30/02 25/02</td>
        <td class="space padding-zero"><i class="material-icons" style="color: rgb(240,0,0)">fiber_manual_record</i>
        </td>
        <td class="space padding-zero"><i class="material-icons" style="color: #32CD32">fiber_manual_record</i></td>
        <td class="space padding-zero"><i class="material-icons">chevron_left</i><i
            class="material-icons">chevron_right</i></td>
        <td class="space padding-zero"><i class="material-icons">send</i></td>
      </tr>
      <tr>
        <td>55%</td>
        <td colspan="2">
          <div class="progress hoverable">
            <div class="determinate" style="width: 55%"></div>
          </div>
        </td>
      </tr>
      <tr class="card">
        <td class="name2 padding-zero"><b>4614</b></td>
        <td class="name3 padding-zero">5054 Relatório de Saques</td>
        <th class="space padding-zero"></th>
        <td>-</td>
        <td class="concepcao padding-zero">01</td>
        <td class="concepcao padding-zero">02</td>
        <td class="concepcao padding-zero">03</td>
        <td class="concepcao padding-zero">04</td>
        <td class="concepcao padding-zero">05</td>
        <td class="concepcao padding-zero">06</td>
        <td class="space realprev padding-zero"><b>Real Prev.</b></td>
        <td class="space realprev padding-zero">90<br>110</td>
        <td class="space realprev padding-zero">27/01 30/01</td>
        <td class="space padding-zero"><i class="material-icons" style="color: #32CD32">fiber_manual_record</i></td>
        <td class="space padding-zero"><i class="material-icons" style="color: #FFD700">fiber_manual_record</i></td>
        <td class="space padding-zero"><i class="material-icons">chevron_left</i><i
            class="material-icons">chevron_right</i></td>
        <td class="space padding-zero"><i class="material-icons">send</i></td>
      </tr>
      <tr>
        <td>70%</td>
        <td colspan="2">
          <div class="progress hoverable">
            <div class="determinate" style="width: 70%"></div>
          </div>
        </td>
      </tr>
      <tr class="card">
        <td class="name2 padding-zero"><b>4608</b></td>
        <td class="name3 padding-zero">5053 Relatório Saque 24hrs</td>
        <th class="space padding-zero"></th>
        <td>-</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td class="space realprev padding-zero"><b>Real Prev.</b></td>
        <td class="space realprev padding-zero">80<br>50</td>
        <td class="space realprev padding-zero">21/01 20/01</td>
        <td class="space padding-zero"><i class="material-icons" style="color: #32CD32">fiber_manual_record</i></td>
        <td class="space padding-zero"><i class="material-icons" style="color: #FFD700">fiber_manual_record</i></td>
        <td class="space padding-zero"><i class="material-icons">chevron_left</i><i
            class="material-icons">chevron_right</i></td>
        <td class="space padding-zero"><i class="material-icons">send</i></td>
      </tr>
      <tr>
        <td>100%</td>
        <td colspan="2">
          <div class="progress hoverable">
            <div class="determinate" style="width: 100%"></div>
          </div>
        </td>
      </tr>
      <tr class="card">
        <td class="name2 padding-zero"><b>4616</b></td>
        <td class="name3 padding-zero">5052 Site Usuário Convênio</td>
        <th class="space padding-zero"></th>
        <td>-</td>
        <td class="concepcao padding-zero">89</td>
        <td class="concepcaoeconcepcao3 padding-zero">90</td>
        <td class="concepcao3 padding-zero">91</td>
        <td class="concepcao3 padding-zero">92</td>
        <td class="concepcao3 padding-zero">93</td>
        <td class="concepcao3 padding-zero">94</td>
        <td class="space realprev padding-zero"><b>Real Prev.</b></td>
        <td class="space realprev padding-zero">180<br>95</td>
        <td class="space realprev padding-zero">02/02 31/01</td>
        <td class="space padding-zero"><i class="material-icons" style="color: rgb(240,0,0)">fiber_manual_record</i>
        </td>
        <td class="space padding-zero"><i class="material-icons" style="color: #32CD32">fiber_manual_record</i></td>
        <td class="space padding-zero"><i class="material-icons">chevron_left</i><i
            class="material-icons">chevron_right</i></td>
        <td class="space padding-zero"><i class="material-icons">send</i></td>
      </tr>
      <tr>
        <td>40%</td>
        <td colspan="2">
          <div class="progress hoverable">
            <div class="determinate" style="width: 40%"></div>
          </div>
        </td>
      </tr>
      <tr class="card">
        <td class="name2 padding-zero"><b>3684</b></td>
        <td class="name3 padding-zero">5051 Upgrade Sistema do Saque</td>
        <th class="space padding-zero"></th>
        <td>-</td>
        <td class="concepcao9 padding-zero">44</td>
        <td class="concepcao9 padding-zero">45</td>
        <td class="concepcao9 padding-zero">46</td>
        <td class="concepcao9 padding-zero">47</td>
        <td class="concepcao9econcepcao7 padding-zero">48</td>
        <td class="concepcao7 padding-zero">49</td>
        <td class="space realprev padding-zero"><b>Real Prev.</b></td>
        <td class="space realprev padding-zero">24<br>20</td>
        <td class="space realprev padding-zero">14/01 14/01</td>
        <td class="space padding-zero"><i class="material-icons" style="color: #FFD700">fiber_manual_record</i></td>
        <td class="space padding-zero"><i class="material-icons" style="color: rgb(240,0,0)">fiber_manual_record</i>
        </td>
        <td class="space padding-zero"><i class="material-icons">chevron_left</i><i
            class="material-icons">chevron_right</i></td>
        <td class="space padding-zero"><i class="material-icons">send</i></td>
      </tr>
      <tr>
        <td>80%</td>
        <td colspan="2">
          <div class="progress hoverable">
            <div class="determinate" style="width: 80%"></div>
          </div>
        </td>
      </tr>
      <tr class="card">
        <td class="name2 padding-zero"><b>3647</b></td>
        <td class="name3 padding-zero">5050 Ajustar Perfil do Saque</td>
        <th class="space padding-zero"></th>
        <td>-</td>
        <td class="concepcao7 padding-zero">67</td>
        <td class="concepcao7 padding-zero">68</td>
        <td class="concepcao7 padding-zero">69</td>
        <td class="concepcao7 padding-zero">70</td>
        <td class="concepcao7 padding-zero">71</td>
        <td class="concepcao7 padding-zero">72</td>
        <td class="space realprev padding-zero"><b>Real Prev.</b></td>
        <td class="space realprev padding-zero">100<br>98</td>
        <td class="space realprev padding-zero">02/03 28/02</td>
        <td class="space padding-zero"><i class="material-icons" style="color: #FFD700">fiber_manual_record</i></td>
        <td class="space padding-zero"><i class="material-icons" style="color: #FFD700">fiber_manual_record</i></td>
        <td class="space padding-zero"><i class="material-icons">chevron_left</i><i
            class="material-icons">chevron_right</i></td>
        <td class="space padding-zero"><i class="material-icons">send</i></td>
      </tr>
      <tr>
        <td>90%</td>
        <td colspan="2">
          <div class="progress hoverable">
            <div class="determinate" style="width: 90%"></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Gráficos -->
<ul class="collapsible graphicsDiv" data-collapsible="accordion">
  <li>
    <div class="collapsible-header active">
      <!-- <i class="far fa-chart-bar"></i> -->
      <p><b>{{'GRAPHICS' | translate}}</b></p>
    </div>
    <div class="collapsible-body ">
      <div class="graphic" *ngFor="let graphic of graphics">
        <h6>{{graphic.title}}</h6>
        <canvas baseChart [data]="graphic.data" [labels]="graphic.labels" [chartType]="graphic.type"
          [colors]="chartColors" [options]="chartOptions" [legend]="false">
        </canvas>
      </div>
    </div>
  </li>
</ul>


<!-- MODAL -->
<mz-modal #activityDetail [fixedFooter]="true" [fullscreen]="true" [options]="modalOptions">
  <mz-modal-header>
    <h5 class="center-align">{{ dailyActivity.playerName }}</h5>
  </mz-modal-header>
  <mz-modal-content>
    <div class="divider"></div>
    <div class="row">
      <div class="col l12 m12 s12 mt-10">
        <div class="col l3 m3 s3">
          <div class="ml-m-25">
            <div class="col l8 m8 s8 center-align">
              <span class="activity-text title">{{ dailyActivity.dayText }}</span>
              <div class="col l12 m12 s12 center-align">
                <div class="activity-day">
                  <span class="activity-day-text">{{ dailyActivity.day }}/{{ dailyActivity.month }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col l8 m8 s8">
          <span class="activity-text title">{{ 'PROGRESS' | translate}}</span>
          <div class="row mt-15">
            <div class="col l2 m2 s2">
              <span>33%</span>
            </div>
            <div class="col l10 m10 s10">
              <div class="progress hoverable">
                <div class="determinate" [ngStyle]="{'width': dailyActivity.progress+'%'}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row mt-10">
      <div class="col l2 m2 s2 left-align">
        <span class="activity-text title">{{ 'PROJECT' | translate }}</span>
      </div>
      <div class="col l6 m6 s6 left-align">
        <span class="activity-text title">{{ 'ACTIVITY' | translate }}</span>
      </div>
      <div class="col l2 m2 s2 left-align">
        <span class="activity-text title">{{ 'DUEDATE' | translate }}</span>
      </div>
      <div class="col l1 m1 s1 left-align">
        <span class="activity-text title">{{ 'EFFORT' | translate }}</span>
      </div>
    </div>
    <div class="row">
      <ng-container *ngFor="let activity of dailyActivity.activities">
        <div class="row">
          <mz-collapsible [mode]="'expandable'" [onClose]="closeFunctionCallback" [onOpen]="openFunctionCallback"
            [popout]="false">
            <mz-collapsible-item [active]="false">
              <mz-collapsible-item-header class="col l12 m12 s12">
                <div class="mt-10">
                  <div class="row valign-wrapper">
                    <div title="{{activity.project.name}}" class="col l2 m2 s2 left-align">
                      <span class="activity-text">{{ activity.project.code }}</span>
                    </div>
                    <div class="col l6 m6 s6 left-align">
                      <span class="activity-text">{{ activity.name }}</span>
                    </div>
                    <div class="col l2 m2 s2 left-align">
                      <span class="activity-text">{{ activity.dueDate }}</span>
                    </div>
                    <div class="col l1 m1 s1 left-align">
                      <span class="activity-text">{{ activity.effort }}h</span>
                    </div>
                    <div class="col l1 m1 s1 right-align">
                      <i class="material-icons"
                        [ngClass]="{ 'warning': activity.status == 'W', 'ok': activity.status == 'O', 'delayed': activity.status == 'D'}">fiber_manual_record</i>
                    </div>
                  </div>
                </div>
              </mz-collapsible-item-header>
              <mz-collapsible-item-body>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
              </mz-collapsible-item-body>
            </mz-collapsible-item>
          </mz-collapsible>
        </div>
      </ng-container>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>{{ 'CLOSE' | translate }}</button>
  </mz-modal-footer>
</mz-modal>