.nav-wrapper{
    background-color:  #fbc844;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#dehaze{
    color: rgb( 120, 120, 120);
    margin-left: 1%;
    width:2%;
}
.centro{
   text-align: center;
}
.login{
    height: 80%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0;
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
}
.date{
    display: flex;
    justify-content: flex-end;
}
img{
    height: 20px;
}
.recursos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245,245,245)
}
.menu{
    margin-left: -1.5% !important;
}
#area{
    border: none;
}
.tables{
    display: flex;
    justify-content: space-between;
}
table{
    margin: 0 0 0 0 !important;
}
.concepcao{
    background-color: #ffc26c;
}
.concepcao2{
    background-color: #ffe0b5;
}
.concepcao3{
    background-color: #32CD32;
}
.concepcao4{
    background-color: #98FB98;
}
.concepcao5{
    background-color: #FF69B4;
}
.concepcao6{
    background-color: #FFC0CB;
}
.concepcao7{
    background-color: #9400D3;
}
.concepcao8{
    background-color: #BA55D3;
}
.concepcao9{
    background-color: #00BFFF;
}
.concepcaoeconcepcao3{
    background-image: linear-gradient( to right, #ffc26c 50%, #32CD32 50%)
}
.concepcao9econcepcao7{
    background-image: linear-gradient( to right, #00BFFF 50%, #9400D3 50%)
}
th, td {
    border-radius: 0;
}
.space{
    border: none;
}
.name{
    background-color: #CDCDCD;
    border: none;
    min-width: 105px;
}
.name2{
    background-color: #CDCDCD;
    border: none;
}
.name3{
    background-color: #CDCDCD;
    border: none;
    min-width: 170px;
    text-align: left;
}
.extremidades{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.row{
    margin-bottom: 0;
}
.legenda{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.legenda2{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    margin-left: none;
    height: 25px;
}
.legenda, p{
    display: flex;
}
body, table{
    background-color: rgb(235,235,235);
}
.card{
    background-color: rgb(235,235,235);
}
table, p{
    font-size: 12px;
}
td, th {
    padding: 5px 3px;
}
.clente{
    font-size: 10px;
}
.legendas{
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}
.legendaDireita{
    display: flex;
    justify-content: space-between;
    margin-left: initial;
    margin-left: -120px !important;
}
.legendaEsquerda{
    margin-left: 0 !important;
}
.graphics{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
body{
    overflow-x: hidden;
    overflow-y: hidden !important;
}
.days{
    height: 38px;
}
.progress {
    height: 7px;
    width: 100%;
    background-color: #ffffff;
    border-color: black;
    border: 1px solid black;
    margin: .5rem 0 0.5rem 0;
}
.progress .determinate {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--progress-color);
    transition: width .3s linear;
    font-size: 5px;
}
.pg2{
    width: 640% !important;
}
.btn-generate{
    margin-right: 2%;
    color:rgb(251, 200, 68) !important;
    background-color: black;
}
.realprev{
    font-size: 8px;
}
.padding-zero{
    padding-top: 0px;
    padding-bottom: 0px;
    max-height: 15px;
}
tr{
    height: 25px;
}
.table1{
    margin-left: 2% !important;
}
.spacename{
    background-color: #CDCDCD;
}
.titles{
    display: flex;
    justify-content: center;
}
.botoes{
    width: 30%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}
.divbotoes{
    display: flex;
    justify-content: center;
}

.collapsible-header {
    align-items: center;
    // height: 43.5px;
    p {
        height: 12px;
        line-height: 12px;
        // font-size: 14px;
    }
    // i {
    //     margin-right: 5px;
    // }
}

.collapsible-body {
    padding: 4px 0 45px 0;
    max-height: 175px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.graphicsDiv {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: #EBEBEB;
}

.graphic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

canvas {
    height: 110px;
}

.transparent-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.rounded-activity {
    border: 1px solid rgb(250, 2, 2);
    text-align: center;
    border-radius: 10px;
    line-height: 45px;
    padding: 0;
}

.activity-day {
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 35px;
    font-size: 28px;
    background-color: rgb(255, 157, 140);
    color: white;
    border-radius: 10px;
    padding: 0;
}

.activity-day-text {
    font-size: 22px;
}

.activity-text {
    font-size: 15px;
    padding: 0px;
}

.activity-text.title {
    font-weight: bold;
}

.label {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: black;
}

.warning {
    color: #FFD700;
}

.ok {
    color: rgb(21, 255, 0);
}

.waiting {
    color: #ae6634
}

.delayed {
    color:rgb(255, 0, 0)
}

.suspended {
    color: black;
}

.building {
    color: gray;
}

.hanging {
    color:#85C1E9;
}

.table-info {
    background-color: white
}

.collapsible li {
    height:10px
}

::ng-deep .cdk-overlay-container{ z-index:2000; }

.invisible{
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
  
.example-radio-button {
    margin: 5px;
}

.radio-text {
    font-family: Roboto, sans-serif;
    color: black;
}

.input-50 {
    width: 50%;
}

.red {
    color: red;
}

.action-btn {
    font-size: 3rem;
}

.border-ok {
    border: solid 2px green;
}

.border-delayed {
    border: solid 2px red;
}
.padding-all-zero{
    padding: 0;
}

.modal{
    width: 75% !important;
    height: 70% !important;
    top: 18% !important;
}



//TABELA STATUS REPORT
#nota-td{
    width: 28%;
}
#dtInicio-td{
    width: 15%;
}
#dtPrazo-td{
    width: 15%;
}
#dtFim-td{
    width: 15%;
}
#obs-td{
    width: 15%;
}
#status-td{
    width: 9%;
}
#concluida-td{
    width: 3%;
}


.mat-cell, .mat-footer-cell{
    font-size: 12px;
}

.mat-form-field-infix{
    width: inherit !important;
}

//EDIT VIEW
#srTable input{
    font-size: 12px;
    margin: 0 0 4px 0;
    text-align: center;
    width: 90%;
}

#srTable #nota-td input{
    text-align: left;
}

#srTable th.mat-header-cell {
    text-align: center;
    color: black;
    font-weight: 400;
}

#srTable td{
    text-align: center;
    color: rgb(51, 51, 51);
}

#srTable #nota-td{
    text-align: left;
}

#srTable tr.mat-header-row{
    height: 38px;
    background: #d3d5da;
}

#srTable tr.mat-footer-row, #srTable tr.mat-row{
    height: 36px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
    border-right: 1px solid #cfd1d5;
}

#srTable td.mat-cell:first-of-type, #srTable td.mat-footer-cell:first-of-type, #srTable th.mat-header-cell:first-of-type{
    padding-left: 12px;
}


#srTable.mat-elevation-z8{
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.1);
}

.cdk-overlay-container{
    z-index: 1200 !important}

    .mat-calendar-table-header tr:last-child{
    display: none;
}

.mat-calendar-table{
    background-color: white;
}