<div class="box" [ngStyle]="{ 'border-color': borderColor }">
  <!--<img
    class="restart"
    src="assets/gifs/loading.gif"
    *ngIf="messages.length == 0"
  />-->
  <ng-container *ngFor="let message of messages; trackBy: trackByFn">
    <div class="msgUser" *ngIf="message.hasOwnProperty('user')" [ngStyle]="{ 'color': fontColors[1] }">
      {{ message.user }}
    </div>
    <ng-container *ngIf="message.hasOwnProperty('bot')">
      <div class="msgBot" [ngStyle]="{ 'color': fontColors[2] }" *ngFor="let botRes of message.bot">
        {{ botRes.botText }}
        <div class="buttonsContainer" *ngIf="botRes.hasOwnProperty('buttons')">
          <button
            *ngFor="let button of botRes.buttons"
            (click)="sendButton(button.payload, button.title)"
            class="botButton"
            [ngStyle]="{ 'color': fontColors[0], 'background-color': buttonsColor }"
          >
            {{ button.title }}
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <div class="loading" *ngIf="loadingMsg">O assistente está digitando...</div>
</div>
