
<div class="container-fluid">

  <div class="row">
    <div class="col s1"></div>
    <div class="col s10">

      <table>
        <thead>
          <tr>
            <th></th>
            <th>Recursos</th>
            <th>Departamento</th>
            <th>Equipe</th>
            <th>Projetos entregues</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="perfil"><img src="https://image.freepik.com/vetores-gratis/perfil-de-avatar-de-homem-no-icone-redondo_24640-14044.jpg"></td>
            <td>Gustavo</td>
            <td>Ti</td>
            <td>Anderson Martins</td>
            <td>150 horas</td>
          </tr>
        </tbody>
      </table>
      
      <!-- <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table> -->

    </div>
  </div>
</div>