
<div class="container-fluid">
  <div class="row">
    
    <mat-form-field *ngFor="let count of aux">
      <mat-label>Categoria</mat-label>
      <mat-select [formControl]="toppings" multiple>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{ topping }}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="row">
    <div class="col s12" id="tabela-col">
      <table id="tabela">
        <thead>
          <tr>
            <th></th>
            <th>Recursos</th>
            <th>Departamento</th>
            <th>Equipe</th>
            <th>Projetos entregues</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="perfil"><img src="https://image.freepik.com/vetores-gratis/perfil-de-avatar-de-homem-no-icone-redondo_24640-14044.jpg"></td>
            <td>Gustavo Menezes de Abreu</td>
            <td width="18%">Ti</td>
            <td width="26%">Anderson Martins</td>
            <td width="22%">150 horas</td>
          </tr>
          <tr>
            <td class="perfil"><img src="https://image.freepik.com/vetores-gratis/perfil-de-avatar-de-homem-no-icone-redondo_24640-14044.jpg"></td>
            <td>Gustavo Menezes de Abreu</td>
            <td width="18%">Ti</td>
            <td width="26%">Anderson Martins</td>
            <td width="22%">150 horas</td>
          </tr>
          <tr>
            <td class="perfil"><img src="https://image.freepik.com/vetores-gratis/perfil-de-avatar-de-homem-no-icone-redondo_24640-14044.jpg"></td>
            <td>Gustavo Menezes de Abreu</td>
            <td width="18%">Ti</td>
            <td width="26%">Anderson Martins</td>
            <td width="22%">150 horas</td>
          </tr>
        </tbody>
      </table>
      
      <!-- <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table> -->

    </div>
  </div>
</div>