.inside-text {
    border: none;
    position: absolute;
    right: -14px;
    top: -10px;
    background-color: #26a69a;
    color: #fff;
    z-index: 1;
    padding: 5px;
    font: 11px Arial, sans-serif;
    border-radius: 3px;
}
.progress {
    overflow: visible;
    margin-top: 10px;
}