body{
    background-color: goldenrod;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.panel{
    /* margin-left: 35% !important; */
    margin-top: 10%;
    width: 165% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.btn{
    width: 35%;
}
.WorkPlayer{
    display: flex;
    justify-content: center;
}
img{
    width: 165%;
}
.meio{
    margin-left: -30% !important;
}
.btn:hover, .btn-large:hover {
    background-color: goldenrod;
}
.btn, .btn-large {
    background-color: black;
}
input[type=text]:focus{
    border-bottom: 1px solid goldenrod !important;
    box-shadow: 0 1px 0 0 goldenrod;
}
input[type=password]:focus{
    border-bottom: 1px solid goldenrod !important;
    box-shadow: 0 1px 0 0 goldenrod;
}
/* input[type=text]:focus + label{
    color: goldenrod !important;
} */
.logo{
    margin-top: 200%;
    width: 80px;
    margin-left: 34%;
}