<body class="bodyLogin">
  <div class="row">
    <div>
        <img class="WorkPlayer meio" src="./assets/WorkPlayer.png">
    </div>
    <div class="card meio panel col l4 row">
      <div class="col l12 tineline">
        <div class="input-field">
          <input id="usuario" type="text" class="validate" [(ngModel)]="user.username" placeholder="Usuário">
          <label class="active" for="usuario"></label>
        </div>
      </div>
      <div class="col l12 tineline">
        <div class="input-field">
          <input  id="senha" type="password" class="validate" [(ngModel)]="user.password" (keyup.enter)="fazerLogin()" placeholder="Senha">
          <label class="active" for="senha"></label>
        </div>
      </div>
      <a class="waves-effect waves-light btn center" (click)="fazerLogin()">Entrar</a>
    </div>
    <div class="logo">
      <img style="height: 30px; width: 80px" src="./assets/kyros_logo.png">
    </div>
    <ngx-spinner name="wait-login" [fullScreen]="true" type="pacman" size="medium"></ngx-spinner>
  </div>
</body>
<router-outlet></router-outlet>