.icon {
  cursor: pointer;
  height: 3.5rem;
  width: 3.5rem;
  position: fixed;
  z-index: 10000;
  bottom: 3rem;
  right: 3rem;
}
.iconImage {
  height: 55px;
  width: 55px;
}

@media screen and (max-width: 900px) {
  .icon {
    bottom: 5rem;
  }
}
