.windowContainer {
  position: fixed;
  bottom: 0;
  right: 50px;
  max-width: 50vw;
  width: 25%;
  height: 500px;
}

.chatbotFooter {
  height: 25%;
  border: 1px solid black;
}
.inputContainer {
  width: 305px;
  background-color: #fff;
  border: none;
  outline: none;
  height: 33px;
  color: #000;
  font-size: 14px;
  padding: 0 0 0 15px;
}

