<div
  class="windowContainer"
  *ngIf="opened"
  [ngClass]="{ minimized: expanded == false }"
>
  <app-chat-box-header
    (restartRequest)="restartAlert($event)"
    (close)="closeChatbot($event)"
  >
  </app-chat-box-header>
  <div *ngIf="expanded">
    <app-chat-box [messages]="historyMessages"></app-chat-box>
    <app-restart-warning (requestStatus)="willRestart($event)" *ngIf="request">
    </app-restart-warning>
    <div class="chatbotFooter">
      <form [formGroup]="userInput" (ngSubmit)="onSubmit()">
        <input
          autocomplete="off"
          placeholder="Envie sua mensagem..."
          type="text"
          formControlName="text"
          class="inputContainer"
        />
        <button
          class="formButtons"
          *ngIf="typing; else not_typing"
          mat-icon-button>
          <mat-icon class="icon">send</mat-icon>
        </button>
        <ng-template #not_typing>
          <button
            class="formButtons"
            (mousedown)="startListening()"
            (mouseup)="stopListening()"
            mat-icon-button
          >
            <mat-icon
              class="icon"
              [ngClass]="{ 'micRed': micColor, 'micBlack': !micColor }">
              mic
            </mat-icon>
          </button>
        </ng-template>
      </form>
    </div>
  </div>
</div>
