.windowContainer {
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 25vw;
  height: 500px;
}

.chatbotFooter {
  height: fit-content;
  border: 1px solid black;
  background-color: #65009a;

}

.inputContainer {
  width: 70%;
  background-color: #ffffff;
  outline: none;
  height: 30px;
  color: #000;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0 0 0 15px;
  border-radius: 3px;
  margin-left: 5%;
  margin-top: 2%;
  line-height: 2em;
}
