<div class="windowContainer" *ngIf="opened">
  <app-chat-box-header
    (restartRequest)="restartAlert($event)"
    (close)="closeChatbot($event)"
  ></app-chat-box-header>
  <app-chat-box></app-chat-box>
  <app-restart-warning
    (requestStatus)="willRestart($event)"
    *ngIf="request"
  >
  </app-restart-warning>
  <div class="chatbotFooter">
    <form [formGroup]="userInput" (ngSubmit)="onSubmit()">
      <input
        autocomplete="off"
        placeholder="Envie sua mensagem..."
        type="text"
        formControlName="text"
        class="inputContainer"
      />
      <button mat-button type="submit">send</button>
    </form>
  </div>
</div>
