.windowContainer {
  position: fixed;
  right: 50px;
  top: 100px;
  width: 25vw;
  height: 500px;
}

.minimized {
  position: absolute;
  top: 94vh;
  right: 50px;
  width: 25vw;
  height: 500px;
}

.chatbotFooter {
  height: fit-content;
  border: 1px solid #5d3280;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.micBlack {
  color: #000;
}

.micRed {
  color: #d90707;
}

.inputContainer {
  width: calc(100% - 15px);
  background-color: #ffffff;
  outline: none;
  height: 35px;
  border: none;
  color: #000;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0 15px 0 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  line-height: 2em;
}

.formButton {
  position: absolute;
}

