div {
    padding: 50px 20px 10px 20px;
    background-color: #607aa6;
    bottom: 50px;
    position: fixed;
    right: 50px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

input {
    border-top: 1px solid black;
    border-left: none;
    border-bottom: none;
    border-right: none;
    width: 295px;
    background-color: #FFF;
    outline: none;
    height: 33px;
    color: #000;
    font-size: 14px;
    padding: 0 40px 0 15px;
}

button {
    position: absolute;
    right: 20px;
    bottom: 7px;
}