<!-- <mat-form-field class="invisible example-full-width">
  <input [matDatepickerFilter]="weekend" [min]="checkDate(activity.previewedAt)"
    (dateInput)="relocateTaskResource(confirm, $event, dailyActivity.playerId, activity.id, activity.name, activity.previewedAt)"
    matInput [matDatepicker]="pickerProject" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="pickerProject"></mat-datepicker-toggle>
  <mat-datepicker #pickerProject [dateClass]="dateClassProject"></mat-datepicker>
</mat-form-field>

<button matTooltip="{{ 'REPLAN' | translate }}" mat-icon-button (click)="findProjectAllocation(activity.player, pickerProject)">
  <i class="material-icons action-btn blue-text">event</i>
</button> -->