<nav *ngIf="mostrarMenu">
    <div class="nav-wrapper row">
        <ul class=" menu col s4 m4 l4">
            <li><a href="#!"><i class="material-icons" id="dehaze">dehaze</i></a></li>
            <li><a href="sass.html"><i class="material-icons">date_range</i></a></li>
            <li><a href="badges.html"><i class="material-icons">note_add</i></a></li>
            <li><a href="collapsible.html"><i class="material-icons">person_add</i></a></li>
            <li><a href="mobile.html"><i class='fas fa-layer-group'></i></a></li>
        </ul>
        <ul class="card login col s4 m4 l3">
            <div><p>Informações do usuário</p></div>
        </ul>
        <ul class="date col s4 m4 l4">
            <p>Informações relativas à data</p>
        </ul>
        <img src="./assets/kyros_logo.png">
    </div>
</nav>

<router-outlet></router-outlet>