.list {
    margin: 25px;
    display: table;
}

.filter {
    width: 300px;
    float: right;
    margin-right: 20px;
    input {
        border: 0;
        border-bottom: 1px solid var(--main-color);
    }
}

.projectHeader {
    display: table-header-group;
    p {
        display: table-cell;
        font-weight: bold;
        text-align: center;
    }
}
.project {
    display: table-row;
    p {
        display: table-cell;
    }
}