<div class="filter">
  <input type="text" placeholder="Filtrar">
</div>

<div class="list">
  <div class="projectHeader">
    <p>ID</p>
    <p>{{'NAME' | translate}}</p>
    <p>{{'DESCRIPTION' | translate}}</p>
  </div>
  <div class="project" *ngFor="let project of projects" (click)="details(project.id)">
    <p>{{project.id}}</p>
    <p>{{project.name}}</p>
    <p>{{project.description}}</p>
  </div>
</div>
<button (click)="projectModal = true">Adicionar</button>

<div class="modalBg" *ngIf="projectModal" (click)="projectModal = false">
  <div class="projectModal" (click)="$event.stopPropagation()">
    <input type="text" placeholder="{{'NAME' | translate}}" formControlName="name">
    <input type="text" placeholder="{{'DESCRIPTION' | translate}}" formControlName="description">
    <button (click)="submit()">Submit</button>
  </div>
</div>