<app-loading [loader]="loader"></app-loading>

<div id="modal" *ngIf="!loader && type">
  <button type="button" class="close btn" [mat-dialog-close]="true"><i class="material-icons">close</i></button>
  <div class="calculadora" *ngIf="type.definition == 'EXECUTAVEL'">
    <button (click)="openCalculator()" mat-icon-button><i class="material-icons">post_add</i></button>
  </div>
  <div class="modal-header"> {{ data.project.name }} </div>
  <form [formGroup]="form">
    <div class="modal-body">

      <div class="input-field">
        <input id="name" type="text" class="validate" formControlName="name">
        <label for="name">Nome</label>
      </div>

      <div class="input-field">
        <input id="description" type="text" class="validate" formControlName="description">
        <label for="description">Descrição</label>
      </div>

      <div class="input-field" *ngIf="type.definition == 'EXECUTAVEL'">
        <input id="effort" type="number" class="validate" formControlName="effort">
        <label for="effort">Esforço</label>
      </div>

      <div *ngIf="type.definition == 'EXECUTAVEL'">
        <mat-form-field>
          <input matInput [matDatepicker]="previewedAt" formControlName="previewedAt" placeholder="Data Iniciada">
          <mat-datepicker-toggle matSuffix [for]="previewedAt"></mat-datepicker-toggle>
          <mat-datepicker #previewedAt></mat-datepicker>
        </mat-form-field>
      </div>

      <ul class="collection" *ngIf="type.definition == 'EXECUTAVEL'">
        <li *ngIf="card" class="collection-item dismissable" [ngStyle]="{'background-color': secoundStyle}">
          <div>
            {{ card.name }}
            <a (click)="removeCard()" class="secondary-content"><i class="material-icons">close</i></a>
          </div>
        </li>
      </ul>

      <!-- <ul class="collection" *ngIf="attachment.length > 0 && type.definition == 'EXECUTAVEL'">
        <label>Anexos</label>
        <li *ngFor="let item of attachment" class="collection-item dismissable" [ngStyle]="{'background-color': secoundStyle}">
          <div>
            <a target="_blank" href="{{ item.url }}">{{ item.description }}</a>
          </div>
        </li>
      </ul> -->

    </div>
    <div class="modal-footer">
      <button *ngIf="type.definition == 'EXECUTAVEL'" [disabled]="card" (click)="addCard()" class="button left" [ngStyle]="{'background-color': mainStyle}">{{ 'Adicionar carta' | translate }}</button>
      <!-- <button *ngIf="type.definition == 'EXECUTAVEL'" (click)="setAttachment()" matTooltip="Anexar" mat-icon-button><i class="material-icons">attach_file</i></button> -->
      <button (click)="createTask()" type="submit" class="button right" [ngStyle]="{'background-color': mainStyle}">{{ 'Criar' | translate }}</button>
    </div>
  </form>
</div>
