table {
    font-size: 12px;
}
table tr {
    border-bottom: none;
}
table thead tr th {
    height: 38px;
    text-align: center;
}
table thead tr .projectCode {
    width: 45px;
}
table thead .hour {
    width: 50px;
}
table tbody tr .days {
    height: 33px;
    width: 33px;
}
table tbody tr .projectCode {
    text-align: center;
}
table tbody tr .playerCompleted {
    text-align: center;
    position: relative;
    top: -3px;
}
td, th {
    padding: 0px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
.fontMin {
    font-size: 8px;
}
ul {
    display: inline-flex;
}

.tableOverflow {
    height: calc(90vh - 148px);
    overflow-y: auto;
}
.tableOverflow::-webkit-scrollbar { 
    display: none; 
}