table{
    font-size: 12px;
}
table thead tr th {
    height: 38px;
    text-align: center;
}
table thead tr .projectCode {
    width: 45px;
}
table thead .hour {
    width: 50px;
}
table tbody tr .days {
    height: 33px;
    width: 33px;
}
table tbody tr .projectCode {
    text-align: center;
}
table tbody tr .playerCompleted {
    text-align: center;
    position: relative;
    top: -3px;
}
td, th {
    padding: 0px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 33px;
    height: 33px;
    line-height: 33px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 0%;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: none;
}
.fontMin {
    font-size: 8px;
}