<app-loading [loader]="loader"></app-loading>

<div *ngIf="projectsList && !loader">
  
  <div class="row">
    <div class="col s12 m6">
      <div class="input-field">
        <input autocomplete="off" id="findProject" (keyup)="onSearchChangeProject($event.target.value)" matInput id="findProject" type="text" class="validate" value="">
        <label for="findProject">Buscar projetos</label>
      </div>
    </div>
    <div class="col m6 s12">
      <ul>
        <li><a (click)="changeDays('prev')" class="btn-floating waves-effect waves-light red"><i class="material-icons">chevron_left</i></a></li>
        <li><a (click)="changeDays('next')" class="btn-floating waves-effect waves-light red"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>
  </div>

  <app-loading [loader]="loaderDays && !daysOfWeek10"></app-loading>
  
  <div class="tableOverflow">
    <table class="responsive-table" *ngIf="!loaderDays && daysOfWeek10">
      <thead>
        <tr>
          <th class="projectCode">{{ 'CODE' | translate }}</th>
          <th>{{ 'PROJECTNAME' | translate }}</th>
          <th *ngFor="let day of daysOfWeek10">{{ day | date:'E' }}</th>
          <th class="hour">{{ 'HOURS' | translate }}</th>
          <th>{{ 'DATE' | translate }}</th>
          <th>{{ 'EXP' | translate }}</th>
          <th>{{ 'EFF' | translate }}</th>
          <th>{{ 'STATUSREPORT' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let project of filteredProjectsList">
          <tr class="card">
            <td class="projectCode"><b>{{ project.code }}</b></td>
            <td>{{ project.name }}</td>
            <ng-container *ngFor="let activity of project.tasks">
              <td class="days">
                <button class="btnDayCalendar" [ngClass]="{hoverable: activity.validDay}" [ngStyle]="{'background-color': activity.style}" [disabled]="!activity.validDay" (click)="modalProjectDetails(project.id, activity)"><span [ngClass]="{'animated infinite fadeIn': !activity.allocated}">{{ activity.day }}</span></button>
              </td>
            </ng-container>
            <td class="fontMin"><b>Real:</b> {{ project.actualEffort }} <br><b>Prev:</b> {{ project.predictEffort }}</td>
            <td class="fontMin">{{ project.actualConclusion}} <br> {{ project.predictConclusion }}</td>
            <td>
              <i class="material-icons" [ngStyle]="{ 'color': project.expectedStyle }">fiber_manual_record</i>
            </td>
            <td>
              <i class="material-icons" [ngStyle]="{ 'color': project.effortStyle }">fiber_manual_record</i>
            </td>
            <td>
              <button mat-icon-button (click)="openReport(project.id)"><i class="material-icons">send</i></button>
            </td>
          </tr>
          <tr>
            <td class="playerCompleted">{{ project.completed }}%</td>
            <td>
              <div class="progress hoverable">
                <div class="determinate" [ngStyle]="{'width': project.completed+'%'}"></div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  
</div>
