table {
    font-size: 12px;
}
table tr {
    border-bottom: none;
}
table thead tr th {
    height: 38px;
    text-align: center;
}
table thead tr .projectCode {
    width: 45px;
}
table thead .hour {
    width: 50px;
}
table tbody tr .days {
    height: 33px;
    width: 33px;
}
table tbody tr .projectCode {
    text-align: center;
}
table tbody tr .playerCompleted {
    text-align: center;
    position: relative;
    top: -3px;
}
td, th {
    padding: 0px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
.fontMin {
    font-size: 8px;
}
ul {
    display: inline-flex;
}

.tableOverflow {
    height: calc(90vh - 148px);
    overflow-y: auto;
}
.tableOverflow::-webkit-scrollbar { 
    display: none; 
}
.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 30px !important;
    height: 30px !important;
    flex-shrink: 0;
    line-height: 30px !important;
    border-radius: 50%;
}
.animated {
    -webkit-animation: fa-blink .75s linear infinite;
    -moz-animation: fa-blink .75s linear infinite;
    -ms-animation: fa-blink .75s linear infinite;
    -o-animation: fa-blink .75s linear infinite;
    animation: fa-blink .75s linear infinite;
}
@keyframes fa-blink {
    0% { opacity: 1 }
    50% { opacity: 0.5 }
    100% { opacity: 0 }
}
.add-project-button {
    right: 0;
    position: fixed;
    margin: 20px;
}

table thead tr th.monthLabel {
    height: 2em;
    vertical-align: bottom; 
    border-bottom: 1px solid white;
    color: slategray;
}

.dayLabelFirst {
    border-left: 2px solid lightgray;
}
.dayLabelLast {
    border-right: 2px solid lightgray;
}