/* table tr.mat-header-row, 
table tr.mat-row {
    height: auto;
    padding: 10px;
    margin: 10px;
} */
tbody td {
    padding: 4px 0px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
input {
    background-color: transparent;
    border: none;
    border-bottom: 0;
    border-radius: 0;
    /* outline: none; */
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    -webkit-transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s;
}
.action {
    width: 60px;
}
.find {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .button {
        width: 100%;
        display: block;
        margin: 5px 0px;
    }
}