<div
  class="windowContainer"
  *ngIf="opened"
  [ngClass]="{ minimized: expanded == false }"
>
  <app-chat-box-header
    
    (close)="closeChatbot($event)"
  >
  </app-chat-box-header>
  <div *ngIf="expanded">
    <app-chat-box [messages]="historyMessages"></app-chat-box>
    <app-restart-warning  *ngIf="request">
    </app-restart-warning>
    <div
      class="chatbotFooter"
      [ngStyle]="{ 'border-color': footerColor }"
    >
      <form
        [formGroup]="userInput"
        (ngSubmit)="onSubmit()"
      >
        <input
          autocomplete="off"
          placeholder="Envie sua mensagem..."
          type="text"
          formControlName="text"
        />
        <button
          *ngIf="typing; else not_typing"
          mat-icon-button
        >
          <mat-icon class="icon">send</mat-icon>
        </button>
        <ng-template #not_typing>
          <button
            (mousedown)="startListening()"
            (mouseup)="stopListening()"
            mat-icon-button
          >
            <mat-icon
              class="icon"
              [ngClass]="{ micRed: micColor, micBlack: !micColor }"
            >
              mic
            </mat-icon>
          </button>
        </ng-template>
      </form>
    </div>
  </div>
</div>
