.box {
  height: 500px;
  width: inherit;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  border: 1px solid #73409c;
}

.msgUser {
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  width: 50%;
  padding: 10px;
  background-color: #b8a9c4;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #fff;
  margin: 0 5px 10px auto;
  word-wrap: break-word;
}

.msgUser:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 13px;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-left-color: #b8a9c4;
	border-right: 0;
	border-bottom: 0;
	margin-top: -11px;
  margin-right: -13px;
  word-wrap: break-word;
}

.msgBot {
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  width: 50%;
  padding: 10px;
  background-color: #dedede;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #000;
  margin: 0 auto 10px 5px;
  word-wrap: break-word;
}

.msgBot:after {
  content: '';
	position: absolute;
	left: 0;
	bottom: 13px;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-right-color: #dedede;
	border-left: 0;
	border-bottom: 0;
	margin-top: -11px;
  margin-left: -13px;
  word-wrap: break-word;
}

.buttonsContainer {
  margin: 10px 0 10px 0;
  position: absolute;
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  left: 0;
}

.botButton {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #d191f3;
  margin-top: 5px;
  min-height: 40px;
  background-color: transparent;
  border: 1px solid #d191f3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  outline: none;
  cursor: pointer;
}
