.box {
  height: 70%;
  width: inherit;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  border: 1px solid #65009a;
}

.msgUser {
  width: 50%;
  padding: 10px;
  background-color: #99b9f0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #fff;
  margin: 0 0 10px auto;
}

.msgBot {
  width: 50%;
  padding: 10px;
  background-color: #65009a;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #ffffff;
  margin: 0 auto 10px 0;
}

.buttonsContainer {
  width: 80%;
  flex: 1 ;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.botButton {
  color: #ffffff;
  margin-top: 2%;
  width: 100%;
}
