.box {
  height: 70%;
  width: inherit;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  border: 1px solid #65009a;
}

.msgUser {
  font-family: Helvetica, Arial, sans-serif;
  width: 50%;
  padding: 10px;
  background-color: #d6a6f0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #fff;
  margin: 0 0 10px auto;
}

.msgBot {
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  width: 50%;
  padding: 10px;
  background-color: #cecece;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #000;
  margin: 0 auto 10px 0;
}

.buttonsContainer {
  margin: 10px 0 10px 0;
  position: absolute;
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  left: 0;
}

.botButton {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #d191f3;
  margin-top: 5px;
  min-height: 40px;
  background-color: transparent;
  border: 1px solid #d191f3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  outline: none;
  cursor: pointer;
}
