.box {
    height: 430px;
    width: 330px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.msgUser {
    width: 50%;
    padding: 10px;
    background-color: #99b9f0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #FFF;
    margin: 0 0 10px auto;
    overflow-wrap: break-word;
}

.msgBot {
    width: 50%;
    padding: 10px;
    background-color: #e3e3e3;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #000;
    margin: 0 auto 10px 0;
    overflow-wrap: break-word;
}