.example-full-width {
    width: 100%;
}

/* If you put this css in your component then you would be able to use angular material inputs through out that component and if you put this in your style.css or style.scss then you would be able to use it through out your application */
mat-form-field input {
    border: none;
    height: initial !important;
}
mat-form-field input:focus {
    border: none;
    box-shadow: none;
    height: initial !important;
}