<div class="row">
  <div class="col s8 offset-s2">
    <div class="col m4">
      <div class="input-field col s12">
        <!-- <i class="material-icons prefix">textsms</i> -->
        <input type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">Autocomplete</label>
      </div>
    </div>
    <div class="col m4">
      <div class="input-field col s12">
        <!-- <i class="material-icons prefix">textsms</i> -->
        <input type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">Autocomplete</label>
      </div>
    </div>
    <div class="col m4">
      <div class="input-field col s12">
        <!-- <i class="material-icons prefix">textsms</i> -->
        <input type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">Autocomplete</label>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col s12 m6">
    <div class="card">
      <div class="card-content header">Exemplo</div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
          little markup to use effectively.</p>
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
          little markup to use effectively.</p>
      </div>
    </div>
  </div>

  <div class="col s6">

    <div class="col s6">
<!--       <div class="card topics">
        <div class="card-content header">Conhecimento</div>
        <div class="card-content">
            <span>Quase não depende de apoio</span>
            <span>Possui conhecimento diferenciado na tecnologia</span>
            <span>Quase não depende de apoio</span>
            <span>Possui conhecimento diferenciado na tecnologia</span>
            <span>Quase não depende de apoio</span>
            <span>Possui conhecimento diferenciado na tecnologia</span>
            <span>Quase não depende de apoio</span>
            <span>Possui conhecimento diferenciado na tecnologia</span>
        </div>
      </div> -->
      <app-box-property type="topics" title="Experiência"
      topics='{"topics": ["Quase não depende de apoio", "Possui conhecimento diferenciado na tecnologia"]}'>
    </app-box-property>
    </div>

    <div class="col s6">
<!--       <div class="card numeric">
        <div class="card-content header">
          Experiência
        </div>
        <div class="card-content">
          <span>30</span>
          <span>Maior que dois anos e seis meses exemplo 
            exemplo exemplo exemplo</span>
        </div>
      </div> -->
      <app-box-property type="numeric" title="Experiência" number="30" 
        description="Maior que dois anos e seis meses exemplo exemplo exemplo exemplo">
      </app-box-property>
    </div>

  </div>
</div>