#style-8::-webkit-scrollbar-track {
    border: 1px solid black;
    background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.trapezio:after {
    content: "";
    /* box-shadow: inset -0.5px 0 0px 3px white; */
    display: inline-block;
    width: 15px;
    height: 88px;
    background: rgba(255, 255, 255, 0.4);
    transform: perspective(2px) rotateY(1deg);
    position: absolute;
    top: 39%;
    right: -17px;
    border-left: #660080 5px solid;
    padding-left: 2px;
    background-clip: content-box;
    z-index: 15;
}

.card {
    background: #ffffff61;
    color: #404040;
}

.trapezio:before {
    content: "";
    /* box-shadow: inset -0.5px 0 0px 3px white; */
    display: inline-block;
    width: 15px;
    height: 88px;
    background: rgba(255, 255, 255, 0.4);
    transform: perspective(2px) rotateY(-1deg);
    position: absolute;
    top: 39%;
    left: -17px;
    border-right: #660080 5px solid;
    padding-right: 2px;
    background-clip: content-box;
    z-index: 15;
<<<<<<< HEAD
}

.card-content.header {
    background: linear-gradient(180deg, #ffffffc4, #ffffff94);
    height: 60px;
    padding: 14px 20px;
    border-top: 3px solid #650199;
    color: #650199;
    box-shadow: inset 0 0 0 1px #ffffff70;
=======
>>>>>>> 5d517ea444305af9abad5e9dcc6afc804d148720
}

.style-custom {
    width: 70%;
    height: 70%;
    position: relative;
<<<<<<< HEAD
}

.card-content {
    background: #ffffff61;
    padding: 12px 18px;
}

.card-content.header span {
    font-weight: 600
}

span.topic {
    display: block;
    margin-bottom: 9px;
}

span.topic:before {
    content: '+';
    color: #650199;
    font-size: 22px;
    font-weight: 700;
    margin-right: 6px;
}

/*Card SCROLLBAR*/

::-webkit-scrollbar {
    width: 6px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #4c0075;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #410064;
}

/*--------------*/
=======
}

>>>>>>> 5d517ea444305af9abad5e9dcc6afc804d148720
