.row {
    margin: 0;
}
.line {
    width: 100%;
    border-bottom: 1px solid #808080;
    /* bottom: 0px; */
    position: relative;
    padding: 10px;
}
/* span {
    position: absolute;
    right: 0px;
    float: right;
    width: 500px;
    text-align: center;
} */
ul.matTreeHeader {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
} 
ul.matTreeHeader li {
    float: right;
    width: 100px;
    text-align: center;
    font-weight: 600;
}

ul.matTreeBody {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 
ul.matTreeBody li {
    /* float: right; */
    /* width: 100px; */
    text-align: center;
    /* font-weight: 600; */
}

.btnAddProject {
    /* position: absolute; */
    margin-left: 5px;
    top: -4px;
}

table tr td.maxWidth {
    width: 100px;
    text-align: center;
}

table.TreeHeader tr td {
    font-weight: 600;
}

table tr td span {
    position: relative;
    top: -2px;
    font-weight: 600;
    font-size: 9px;
    /* margin: 0px; */
    padding: 5px;
    /* background: #808080; */
    border-radius: 4px;
    color: #000;
    text-transform: uppercase;
}