<section>
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="title">
          <h1>Cadastro equipe</h1>
          <span class="line"></span>
          <a [routerLink]="['/home/admin']" class="back"><i _ngcontent-uom-c19="" class="material-icons icon-image-preview">keyboard_arrow_left</i></a>
        </div>
      </div>
    </div>
    <div class="body">

      <div class="row">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="col s12 m4 offset-m4">

            <div class="input-field">
              <input type="text" placeholder="Nome" formControlName="name">                
            </div>
            <div class="input-field right-align">
              <button type="submit" class="btn-send">Salvar</button>       
            </div>

          </div>

        </form>
      </div>

    </div>
  </div>
</section>

<div class="footer"></div>