<div id="modal">
  <div class="modal-header">
    {{ 'MESSAGECONFIRMINITIALIZE' | translate }}
    <button type="button" class="close btn" [mat-dialog-close]="true"><i class="material-icons">close</i></button>
  </div>
  <div class="modal-body">
    <p>{{ 'MESSAGECONFIRMINITIALIZE' | translate }}</p>
  </div>
  <div class="modal-footer">
    <button class="button button-primary right" [ngStyle]="{'background-color': mainStyle}" (click)="confirmInitialize()">{{ 'CONFIRM' | translate }}</button>
  </div>
</div>