<app-loading [loader]="loader"></app-loading>

<div id="modal" *ngIf="!loader && type">
  <button type="button" class="close btn" [mat-dialog-close]="true"><i class="material-icons">close</i></button>
  <div class="modal-header">
    {{ nameTaskParent }} <br>
    <span [ngStyle]="{'background-color': mainStyle}"> {{ type.name }} </span>
  </div>
<!--  <button (click)="openCalculator()" *ngIf="type.name.toLowerCase() == 'tarefa'" matTooltip="{{ 'OPEN_CALCULATOR' | translate }}" mat-icon-button>-->
<!--    <i class="material-icons">post_add</i>-->
<!--  </button>-->
  <form [formGroup]="form">
    <div class="modal-body">

      <div class="input-field">
        <input id="name" type="text" class="validate" formControlName="name">
        <label for="name">Nome</label>
      </div>

      <div class="input-field">
        <input id="description" type="text" class="validate" formControlName="description">
        <label for="description">Descrição</label>
      </div>

      <div class="input-field" *ngIf="type.definition == 'EXECUTAVEL'">
        <input id="duration" type="number" class="validate" formControlName="duration">
        <label for="duration">Esforço</label>
      </div>

      <div *ngIf="type.definition == 'EXECUTAVEL'">
        <mat-form-field>
          <input matInput [matDatepicker]="expectedAt" formControlName="expectedAt" placeholder="Data prevista inicio">
          <mat-datepicker-toggle matSuffix [for]="expectedAt"></mat-datepicker-toggle>
          <mat-datepicker #expectedAt></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-form-field *ngIf="type.definition == 'EXECUTAVEL'">
        <mat-label>Selecione o horário</mat-label>
        <mat-select formControlName="time">
          <mat-option [value]="8"> 08:00 </mat-option>
          <mat-option [value]="9"> 09:00 </mat-option>
          <mat-option [value]="10"> 10:00 </mat-option>
          <mat-option [value]="11"> 11:00 </mat-option>
          <mat-option [value]="14"> 14:00 </mat-option>
          <mat-option [value]="15"> 15:00 </mat-option>
          <mat-option [value]="16"> 16:00 </mat-option>
          <mat-option [value]="17"> 17:00 </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field class="example-full-width" *ngIf="type.definition == 'EXECUTAVEL'">
        <mat-label>Hora prevista</mat-label>
        <mat-select (onchange)="">
          <mat-option [value]="8">08:00</mat-option>
          <mat-option [value]="9">09:00</mat-option>
          <mat-option [value]="10">10:00</mat-option>
          <mat-option [value]="11">11:00</mat-option>
          <mat-option [value]="13">13:00</mat-option>
          <mat-option [value]="14">14:00</mat-option>
          <mat-option [value]="15">15:00</mat-option>
          <mat-option [value]="16">16:00</mat-option>
          <mat-option [value]="17">17:00</mat-option>
        </mat-select>
      </mat-form-field>  -->

      <ul class="collection" *ngIf="type.definition == 'EXECUTAVEL' && cards.length > 0">
        <label *ngIf="cards.length > 0">Cartas</label>
        <li *ngFor="let card of cards" class="collection-item dismissable" [ngStyle]="{'background-color': secoundStyle}">
          <div>
            {{ card.cardName }}
            <a (click)="removeCard(card)" class="secondary-content"><i class="material-icons">close</i></a>
          </div>
        </li>
      </ul>

      <ul class="collection" *ngIf="form.value.links.length > 0 && type.definition == 'EXECUTAVEL'">
        <label *ngIf="form.value.links.length > 0">Anexos</label>
        <li *ngFor="let item of form.value.links" class="collection-item dismissable" [ngStyle]="{'background-color': secoundStyle}">
          <div>
            <a target="_blank" href="{{ item.url }}">{{ item.description }}</a>
            <!-- <a (click)="removeAttachment(item)" class="secondary-content"><i class="material-icons">close</i></a> -->
          </div>
        </li>
      </ul>

      <!-- <div class="find">
        <div *ngFor="let levelElement of cardKnowledgeFilter; let i= index" [ngClass]="{'help' : status}">
          <mat-form-field>
            <mat-label>{{ levelElement.knowledgeList[0].type.name }}</mat-label>
            <mat-select (selectionChange)="FindParente($event.value, levelElement)">
              <mat-option *ngFor="let knowledge of levelElement.knowledgeList; let i= index" [value]="knowledge">{{ knowledge.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> -->

      <!-- <div class="input-field">
        <input id="card" type="text" class="validate" formControlName="card">
        <label for="card">Carta</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="style" type="text" class="validate" formControlName="style">
        <label for="style">style</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="previewedAt" type="text" class="validate" formControlName="previewedAt">
        <label for="previewedAt">previewedAt</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="player" type="text" class="validate" formControlName="player">
        <label for="player">player</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="effort" type="text" class="validate" formControlName="effort">
        <label for="effort">Esforço</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="dailyEffort" type="text" class="validate" formControlName="dailyEffort">
        <label for="dailyEffort">Esforço diario</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="validDay" type="text" class="validate" formControlName="validDay">
        <label for="validDay">validDay</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="warning" type="text" class="validate" formControlName="warning">
        <label for="warning">warning</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="allocated" type="text" class="validate" formControlName="allocated">
        <label for="allocated">allocated</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="referenceDate" type="text" class="validate" formControlName="referenceDate">
        <label for="referenceDate">referenceDate</label>
      </div> -->

    </div>
    <div class="modal-footer">
      <button *ngIf="type.definition == 'EXECUTAVEL'" [disabled]="isCard()" (click)="addCard()" class="button left" [ngStyle]="{'background-color': mainStyle}">{{ 'Adicionar carta' | translate }}</button>
      <button *ngIf="type.definition == 'EXECUTAVEL'" (click)="setAttachment()" matTooltip="Anexar" mat-icon-button><i class="material-icons">attach_file</i></button>
      <button (click)="createTask()" type="submit" class="button right" [ngStyle]="{'background-color': mainStyle}">{{ 'Atualizar' | translate }}</button>
    </div>
  </form>
</div>
