<app-loading [loader]="loader"></app-loading>

<div id="modal" *ngIf="!loader && type">
  <button type="button" class="close btn" [mat-dialog-close]="true"><i class="material-icons">close</i></button>
  <div class="modal-header"> {{ data.project.name }} </div>
  <form [formGroup]="form">
    <div class="modal-body">

      <div class="input-field">
        <input id="name" type="text" class="validate" formControlName="name">
        <label for="name">Nome</label>
      </div>

      <div class="input-field">
        <input id="description" type="text" class="validate" formControlName="description">
        <label for="description">Descrição</label>
      </div>

      <div class="input-field" *ngIf="type.definition == 'EXECUTAVEL'">
        <input id="effort" type="number" class="validate" formControlName="effort">
        <label for="effort">Esforço</label>
      </div>

      <div *ngIf="type.definition == 'EXECUTAVEL'">
        <mat-form-field>
          <input matInput [matDatepicker]="previewedAt" formControlName="previewedAt" placeholder="Data Iniciada">
          <mat-datepicker-toggle matSuffix [for]="previewedAt"></mat-datepicker-toggle>
          <mat-datepicker #previewedAt></mat-datepicker>
        </mat-form-field>
      </div>

      <ul class="collection" *ngIf="type.definition == 'EXECUTAVEL'">
        <li *ngIf="cardSelect" class="collection-item dismissable" [ngStyle]="{'background-color': secoundStyle}">
          <div>
            {{ cardSelect.skillName }}
            <a (click)="removeCard()" class="secondary-content"><i class="material-icons">close</i></a>
          </div>
        </li>
      </ul>

      <!-- <div class="find">
        <div *ngFor="let levelElement of cardKnowledgeFilter; let i= index" [ngClass]="{'help' : status}">
          <mat-form-field>
            <mat-label>{{ levelElement.knowledgeList[0].type.name }}</mat-label>
            <mat-select (selectionChange)="FindParente($event.value, levelElement)">
              <mat-option *ngFor="let knowledge of levelElement.knowledgeList; let i= index" [value]="knowledge">{{ knowledge.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> -->

      <!-- <div class="input-field">
        <input id="card" type="text" class="validate" formControlName="card">
        <label for="card">Carta</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="style" type="text" class="validate" formControlName="style">
        <label for="style">style</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="previewedAt" type="text" class="validate" formControlName="previewedAt">
        <label for="previewedAt">previewedAt</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="player" type="text" class="validate" formControlName="player">
        <label for="player">player</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="effort" type="text" class="validate" formControlName="effort">
        <label for="effort">Esforço</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="dailyEffort" type="text" class="validate" formControlName="dailyEffort">
        <label for="dailyEffort">Esforço diario</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="validDay" type="text" class="validate" formControlName="validDay">
        <label for="validDay">validDay</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="warning" type="text" class="validate" formControlName="warning">
        <label for="warning">warning</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="allocated" type="text" class="validate" formControlName="allocated">
        <label for="allocated">allocated</label>
      </div> -->
      <!-- <div class="input-field">
        <input id="referenceDate" type="text" class="validate" formControlName="referenceDate">
        <label for="referenceDate">referenceDate</label>
      </div> -->

    </div>
    <div class="modal-footer">
      <button *ngIf="type.definition == 'EXECUTAVEL'" [disabled]="isCard()" (click)="addCard()" class="button left" [ngStyle]="{'background-color': mainStyle}">{{ 'Adicionar carta' | translate }}</button>
      <button (click)="createTask()" type="submit" class="button right" [ngStyle]="{'background-color': mainStyle}">{{ 'Atualizar' | translate }}</button>
    </div>
  </form>
</div>