.find {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    width: 260px;
} 
  
.example-radio-button {
    margin: 5px;
}

.mat-form-field {
    font-size: 1.5em;
    line-height: inherit;
}

/* Override for Materialize input style --> use Angular Material styling, instead */
mat-form-field input {
  border: none;
  height: initial !important;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

/* Override for Materialize input style --> use Angular Material styling, instead */
mat-form-field input:focus {
  border: none;
  box-shadow: none;
  height: initial !important;
}

mat-select {
    font-weight: inherit;
}

form.container {
    padding-top: 5em;
}