.find {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    width: 260px;
} 
  
.example-radio-button {
    margin: 5px;
}
