<div class="row">

  <app-loading [loader]="loader"></app-loading>

  <div *ngIf="!loader">
    <div class="col m4 offset-m2 s12">
      <app-count *ngIf="!loaderPlayerRated && !playerRate">Sem recursos no momento</app-count>
      <div *ngIf="playerRated && !loaderPlayerRated">
        <div class="input-field">
          <input matInput (input)="onSearchChange($event.target.value)" id="example-radio-group-label" value="" class="validate">
          <label for="example-radio-group-label">{{ 'SEARCHMORE' | translate }}</label>
        </div>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
          <mat-radio-button class="example-radio-button" *ngFor="let player of playerRated" [value]="player">
            <span class="radio-text valign-wrapper">{{ player.name }}
              <i class="material-icons tiny green-text ml-5">event_available</i>
            </span>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="col s12 m4">
      <app-count *ngIf="!loaderPlayerRated && !playerRatedFiltered">Sem recursos no momento</app-count>
      <div *ngIf="playerRatedFiltered && !loaderPlayerRated">
        <div class="input-field">
          <input matInput (input)="onSearchChange($event.target.value)" id="example-radio-group-label" value="" class="validate">
          <label for="example-radio-group-label">{{ 'SEARCHMORE' | translate }}</label>
        </div>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
          <mat-radio-button class="example-radio-button" *ngFor="let player of playerRatedFiltered" [value]="player">
            <span class="radio-text valign-wrapper">{{ player.name }}
              <i class="material-icons tiny green-text ml-5">event_available</i>
            </span>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>

</div>