.find {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    width: 260px;
} 
  
.example-radio-button {
    margin: 5px;
}

.mat-form-field {
    /* font-size: 14px;
    display: block;
    padding-top: 10px; */
    font-size: 1.5em;
    line-height: inherit;
}

.mat-select {
    padding-bottom: 11px;
}