  <app-loading [loader]="loader"></app-loading>

  <div *ngIf="!loader">
    <form class="container row">
      
      <!-- <div class="input-field">
        <input (input)="onSearchChange($event.target.value)" id="findPlayerRated" value="" class="validate">
        <label for="findPlayerRated">Recursos disponíveis com carta</label>
      </div>
      
      <div class="find">
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="playerSelect">
          <ng-container *ngFor="let playerTypes of searchPlayersFilter; let i = index">
            <ng-container *ngIf="playerTypes.list.length > 0">
  
              <mat-radio-button class="example-radio-button" [value]="player.id" *ngFor="let player of searchPlayersFilter[i].list">
                <span class="radio-text valign-wrapper">{{ player.name }}
                  <i class="material-icons tiny green-text ml-5">event_available</i>
                </span>
              </mat-radio-button>
              
            </ng-container>
          </ng-container>
        </mat-radio-group>
      </div> -->
      
      <mat-form-field class="col m6 s12">
      <!-- <app-count *ngIf="!playerRated">Sem recursos no momento</app-count> -->
      <!-- <div *ngIf="playerRated"> -->
        <mat-label for="findPlayerRated">Recursos disponíveis com carta</mat-label>
        <input matInput (input)="onSearchChange($event.target.value)" id="findPlayerRated" class="browser-default">
      </mat-form-field>
      <!-- <div class="input-field"> -->
      <mat-form-field class="col m6 s12">
        <mat-label>Filtros</mat-label>
        <mat-select (selectionChange)="selectedFilter($event.value)">
          <mat-option value="playersCards">Players com cartas</mat-option>
          <mat-option value="playersTeam">Players da equipe</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <div class="row">
      <div class="col offset-m4 m4 s12">
        <div *ngIf="playerRatedFilter.length == 0">
          <app-count>Sem recursos no momento</app-count>
        </div>
        <mat-radio-group *ngIf="playerRatedFilter.length > 0" aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="playerSelect">
          <mat-radio-button class="example-radio-button" *ngFor="let player of getPlayer(playerRatedFilter)" [value]="player.playerId">
            <span class="radio-text valign-wrapper">{{ player.name }}
              <i class="material-icons tiny green-text ml-5">event_available</i>
            </span>
          </mat-radio-button>
        </mat-radio-group>
        <!-- </div> -->
      </div>
    </div>

      <!-- <div class="col s12 m4" *ngIf="playerAvailable.length > 0">
          <div class="input-field">
            <input matInput (input)="onSearchChange($event.target.value)" id="find" class="validate" placeholder="Recursos disponíveis">
          </div>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="playerSelect">
            <mat-radio-button class="example-radio-button" *ngFor="let player of playerAvailableFilter" [value]="player.id">
              <span class="radio-text valign-wrapper">{{ player.name }}
                <i class="material-icons tiny green-text ml-5">event_available</i>
              </span>
            </mat-radio-button>
          </mat-radio-group>
      </div> -->

      <!-- <div class="col s12 m4" *ngIf="playerAvailableOverGroup.length > 0">
          <div class="input-field">
            <input matInput (input)="onSearchChange($event.target.value)" id="find" class="validate" placeholder="Recursos disponíveis">
          </div>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="playerSelect">
            <mat-radio-button class="example-radio-button" *ngFor="let player of playerAvailableOverGroupFilter" [value]="player.id">
              <span class="radio-text valign-wrapper">{{ player.name }}
                <i class="material-icons tiny green-text ml-5">event_available</i>
              </span>
            </mat-radio-button>
          </mat-radio-group>
      </div> -->

      <!-- <div class="col s12 m4">
        <app-count *ngIf="!playerAvailable">Sem recursos no momento</app-count>
        <div *ngIf="playerAvailable">
          <div class="input-field">
            <input matInput (input)="onSearchChange($event.target.value)" id="find" class="validate" placeholder="Recursos disponíveis">
          </div>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="playerSelect">
            <mat-radio-button class="example-radio-button" *ngFor="let player of playerAvailableFilter" [value]="player.id">
              <span class="radio-text valign-wrapper">{{ player.name }}
                <i class="material-icons tiny green-text ml-5">event_available</i>
              </span>
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div> -->

    <div class="row">
      <div class="col-xs-12">
        <button [ngStyle]="{'background-color': mainStyle}" [disabled]="playerValid()" (click)="onSubmit()" class="button button-primary right">{{ 'FINISHDESIGNATE' | translate }}</button>
      </div>
    </div>
  </div>