.nav-wrapper{
    background-color:  #fbc844;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#dehaze{
    color: rgb( 120, 120, 120);
    margin-left: 1%;
    width:2%;
}
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}
.login{
    height: 80%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0;
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
}
.date{
    display: flex;
    justify-content: flex-end;
}
img{
    height: 20px;
}
.recursos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245,245,245)
}
.menu{
    margin-left: -1.5% !important;
}
#area{
    border: none;
}
.tables{
    display: flex;
    justify-content: space-between;
}
table{
    margin: 0 0 0 0 !important;
}
.concepcao{
    background-color: #ffc26c;
}
.concepcao2{
    background-color: #ffe0b5;
}
.concepcao3{
    background-color: #32CD32;
}
.concepcao4{
    background-color: #98FB98;
}
.concepcao5{
    background-color: #FF69B4;
}
.concepcao6{
    background-color: #FFC0CB;
}
.concepcao7{
    background-color: #9400D3;
}
.concepcao8{
    background-color: #BA55D3;
}
.concepcao9{
    background-color: #00BFFF;
}
.concepcaoeconcepcao3{
    background-image: linear-gradient( to right, #ffc26c 50%, #32CD32 50%)
}
.concepcao9econcepcao7{
    background-image: linear-gradient( to right, #00BFFF 50%, #9400D3 50%)
}
th, td {
    border-radius: 0;
}
.space{
    border: none;
}
.name{
    background-color: #CDCDCD;
    border: none;
    min-width: 105px;
}
.name2{
    background-color: #CDCDCD;
    border: none;
    max-width: 40px;
}
.name3{
    background-color: #CDCDCD;
    border: none;
    min-width: 185px;
    text-align: left;
}
.extremidades{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.row{
    margin-bottom: 0;
}
.legenda{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.legenda2{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    margin-left: none;
    height: 25px;
}
.legenda, p{
    display: flex;
}
body, table{
    background-color: rgb(235,235,235);
}
.card{
    background-color: rgb(235,235,235);
}
table, p{
    font-size: 12px;
}
td, th {
    padding: 5px 3px;
}
.clente{
    font-size: 10px;
}
.legendas{
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}
.legendaDireita{
    display: flex;
    justify-content: space-between;
    margin-left: initial;
    margin-left: -120px !important;
}
.legendaEsquerda{
    margin-left: 0 !important;
}
.graphics{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
body{
    overflow-x: hidden;
    overflow-y: hidden !important;
}
.days{
    height: 38px;
}
.progress {
    height: 7px;
    width: 100%;
    background-color: rgb(235,235,235);
    margin: .5rem 0 0.5rem 0;
}
.progress .determinate {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(251, 200, 68);
    transition: width .3s linear;
    font-size: 5px;
}
.pg2{
    width: 640% !important;
}
.btn-generate{
    margin-right: 2%;
    color:rgb(251, 200, 68) !important;
    background-color: black;
}
.realprev{
    font-size: 8px;
}
.padding-zero{
    padding-top: 0px;
    padding-bottom: 0px;
    max-height: 15px;
}
tr{
    height: 25px;
}
.table1{
    margin-left: 2% !important;
}
.spacename{
    background-color: #CDCDCD;
}
.titles{
    display: flex;
    justify-content: center;
}