<nav>
  <div class="nav-wrapper row">
      <ul class=" menu col s4 m4 l4">
          <li><a href="#!"><i class="material-icons" id="dehaze">dehaze</i></a></li>
          <li><a routerLink="/home/dashboard"><i class="material-icons">insert_chart</i></a></li>
          <li><a routerLink="/home/project"><i class="material-icons">note_add</i></a></li>
          <li><a routerLink="/home/player"><i class="material-icons">person_add</i></a></li>
          <li><a routerLink="/home/card"><i class='material-icons'>bookmarks</i></a></li>
          <li><a routerLink="/home/calendar"><i class="material-icons">date_range</i></a></li>
      </ul>
      <ul class="card login col s4 m4 l3">
          <div><span>{{getUserInfo()}}</span></div>
      </ul>
      <ul class="date col s4 m4 l4">
          <p>{{getDate()}}</p>
      </ul>
      <img src="./assets/kyros_logo.png">
  </div>
</nav>
<router-outlet></router-outlet>
