@font-face {
    font-family: Intro;
    src: url(../../../assets/Intro.otf);
  }

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    height: 50px;
    background-color:  var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    i {
        text-align: end;
        color: white;
        margin: 0 25px 0 15px;
        cursor: pointer;
    }
    p {
        margin: 0;
        font-family: Intro;
        flex-grow: 1;
        flex-basis: 0;  
        text-align: center;
        font-size: 25px;
        color: #ffffff;
        filter: brightness(90%);
    }
}

.menu {
    flex-grow: 1;
    flex-basis: 0;
    i{
        margin: 0 10px;
    }
    a {
        margin: 0 5px;
    }
}

.end {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

img{
    height: var(--logo-height);
    margin-left: -40px;
}

.profile {
    position: fixed;
    width: 200px;
    top: 55px;
    right: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #c4c3c3;
    ul {
        margin: 0;
    }
    li {
        padding: 10px;
        display: flex;
        align-items: center;
    }
    li:hover {
        background-color: #dfdfdf;
    }
    i {
        margin-right: 5px;
    }
}

.content {
    margin-top: 60px;
    min-height: calc(100vh - 110px);
}
.footer {
    float: right;
    margin: 0 10px;
    p {
        margin: 0;
    }
}
