<div class="header">
    <div class="menu">
        <!-- <li><a href="#!"><i class="material-icons" id="dehaze">dehaze</i></a></li> -->
        <a routerLink="/home/dashboard"><i class="material-icons">insert_chart</i></a>
        <a routerLink="/home/project"><i class="material-icons">note_add</i></a>
        <a routerLink="/home/player"><i class="material-icons">person_add</i></a>
        <a routerLink="/home/card"><i class='material-icons'>bookmarks</i></a>
        <a routerLink="/home/calendar"><i class="material-icons">date_range</i></a>
    </div>
    <!-- <ul class="card login col s4 m4 l3">
        <div><span>{{getUserInfo()}}</span></div>
    </ul>
    <ul class="date col s4 m4 l4">
        <p>{{getDate()}}</p>
    </ul> -->
    <div class="image"><img src="./assets/images/bradesco_logo.png"></div>
    
    <i class="material-icons" (click)="profile = !profile">perm_identity</i>
</div>

<div class="profile" *ngIf="profile">
    <ul>
        <li>{{getUserInfo()}}</li>
        <li (click)="logout()"><i class="material-icons">exit_to_app</i>Logout</li> 
    </ul>
</div>

<router-outlet></router-outlet>
