/* You can add global styles to this file, and also import other style files */
@import './theme.scss';

body{
    overflow: auto;
    background-color: #EBEBEB;
}

.modalBg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #0000001A;
}