/* You can add global styles to this file, and also import other style files */
@import './theme.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
    overflow: auto;
    background-color: #EBEBEB;
}

.modalBg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #0000001A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt-10 {
    margin-top: 10px
}

.mt-15 {
    margin-top: 15px
}

.mt-30 {
    margin-top: 30px
}

.ml-1 {
    margin-left: 0.5px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px !important
}

.ml-15 {
    margin-left: 15px
}

.ml-20 {
    margin-left: 20px !important
}

.ml-25 {
    margin-left: 25px
}

.ml-m-25 {
    margin-left: -25px
}

.ml-m-15 {
    margin-left: -15px;
}

.ml-m-12 {
    margin-left: -12px;
}

.front {
    z-index: 2000;
}

td.full-day {
    background:rgba(255, 0, 0, 0.5)!important;
    font-weight: bold;
    border-radius: 100%;
}

.unallocated {
    background: rgba(0, 128, 0, 0.7);
    font-weight: bold;
    border-radius: 100%;
}

.modal-text {
    font-size: 15px;
}