/* You can add global styles to this file, and also import other style files */
@import './theme.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


body {
    background-color: #EBEBEB;
}

/* Codigo de padronização dos botões de dias do Dashboard */
.btnDayCalendar {
    display: inline-block;
    color: #000000;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 33px;
    height: 33px;
    line-height: 33px;
    padding: 0;
    border-radius: 0%;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: none;
    border: none;
}


/* Codigos para padronizar o modal */
#modal .modal-header {
    font-size: 1.64rem;
    text-align: center;
    padding-bottom: 10px;
}
#modal .modal-body {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 15px 0px;
}
#modal .modal-footer {
    padding-top: 20px;
}


/* Codigo para padronização do collapse */
.collapsible-body {
    display: none;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding: 15px;
}
mz-collapsible-item-header {
    width: 100%;
}
.collapsible-header {
    display: -webkit-box;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 10px 0px !important;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
mz-collapsible-item-body {
    padding: 10px;
    margin: 0px;
    font-size: 11px;
}
mz-collapsible-item-body span {
    display: block;
    font-weight: bold;
}
mz-collapsible-item-body {
    padding: 0px !important;
}
mz-collapsible-item-body ul {
    display: flex;
    justify-content: space-between;
}
.containerButtons button {
    margin: 15px 5px 0px 5px;
}
.headerTextCollapse {
    margin-bottom: 0px;
    font-weight: bold;
}
.no-padding {
    margin: 0px;
}

// .modalBg {
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 100vh;
//     width: 100vw;
//     background-color: #0000001A;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }