.style-custom {
    width: 78%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15px;
}

.col.card-col:nth-child(odd) {
    float: left;
}

.col.card-col:nth-child(even) {
    float: right;
}

#help{
    background: #8cd7da;
    font-size: 25px;
    border: 5px white solid;
    box-shadow: inset 0 0 0 4px #650199, inset 0 0 0 7px #ffffff;
    line-height: 2px;
    font-weight: 600;
    margin-left: 15px;
    z-index: 1001;
}

.tips #black-filter {
    background-color: rgba(0, 0, 0, 0.72);
    width: 100%;
    height: 100%;
    position: fixed;
    transition: all ease 0.25s;
    top: 0;
    z-index: 1000;
}

#help-div{
    padding: 0;
    margin: 0;
}

.mat-tooltip {
    border: 2px solid white;
    border-radius: 0;
    background: #67b3b6;
    z-index: 1002px;
}

.cdk-overlay-container{
    z-index: 1002 !important;
}


.help .input-field, .help .style-custom{
    z-index: 1001;
}
.help .card-col{
    z-index: 1001;
    position: relative;
}

.deck-img{
    background-color: #ffffff5c;
    border: 2px solid white;
    border-top: 14px solid white;
}

.deck .slick-slide{
    padding: 11px;
    opacity: 0.8;
    transition: all ease 0.2s;
}

.deck .slick-slide.slick-center{
    transform: scale(1.15);
    opacity: 1;
    transition: all ease 0.2s;
}


@media only screen and (max-width: 1068px) and (min-width: 915px){
    .card.numeric .card-content span:nth-child(2){
        width: calc(61% - 8px);
    }
}

@media only screen and (max-width: 915px){
    .card.numeric .card-content span:nth-child(2){
        width: 100%;
        text-align: center;
    }

    .card.numeric .card-content span:nth-child(1){
        margin-left: calc(50% - 27px);
        margin-bottom: 4px;
    }
}

.characters .slick-slide{
    position: relative;
    margin-top: 2%;
    padding: 4px;
}

.slick-slide img{
    background-color: #ffffff69;
    background-repeat: no-repeat;
    background-position-y: 96%;
    background-position-x: 208%;
    background-size: 80%;
    border: solid 2px white;
}

.deck .slick-slide img{
    background-color: #ffffff69;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 57%;
    background-size: 80%;
    border: solid 2px white;
}

#attributes-div{
    margin-top: 4%;
}

.card-star{
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 28%;
    top: -8%;
    z-index: 20;
    display: inline-block;
    background-position-x: center;
}
