<div class="row" id="input-row" *ngIf="playerDeck">
  <div class="col s12" matTooltip="Use os filtros para buscar cartas específicas" matTooltipPosition="above">
    <div class="find">
      <div *ngFor="let levelElement of cardKnowledgeFilter; let i= index" [ngClass]="{'help' : status}">
        <mat-form-field>
          <mat-label>{{ levelElement.knowledgeList[0].type.name }}</mat-label>
          <mat-select (selectionChange)="findParent($event.value, levelElement)">
            <mat-option *ngFor="let knowledge of levelElement.knowledgeList; let i= index" [value]="knowledge">{{ knowledge.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div *ngIf="characters" class="row">
  <div class="col s12 m5">
    <div class="style-custom" [ngClass]="{'help' : status}">
      <app-slick (identifySlick)="classSlick($event)" [options]="slick" [arrows]="arrows" class="trapezio" matTooltip="Use as setas para escolher os personagens que melhor representam você" matTooltipDisabled="{{ !status }}" matTooltipPosition="below">
        <div class="characters" *ngFor="let attribute of characters">
          <img class="card-star" [src]="attribute.starUrl | image | async">
          <img class="card-img" *ngIf="attribute.attributes" width="100%" [src]="attribute.url | image | async">
          <img class="logo" [src]="attribute.logoUrl | image | async" *ngIf="attribute.logoUrl | image | async">
          <p *ngIf="!(attribute.logoUrl | image | async)">{{ competenceName }}</p>
          <button [disabled]="getDisabled(attribute.attributes)" [ngStyle]="{'background-color': mainStyle}" class="btn-floating waves-effect waves-light deckButton" [ngClass]="{'isInDeck': isInDeck}" (click)="addCard(attribute.attributes)"> <i class="material-icons">add</i> </button>
        </div>
      </app-slick>
    </div>
  </div>
  <div class="col s12 m7">
    <app-count *ngIf="!showErrorMessageAttributes(characters[indexSlick].attributes)">Esta carta não possui nenhum atributo cadastrado</app-count>
    <div class="boxAttributes" *ngIf="showErrorMessageAttributes(characters[indexSlick].attributes)">
      <app-box-property [ngClass]="{'help' : status}" [title]="'Descrição'"> {{ description }} </app-box-property>
      <ng-container *ngFor="let metric of characters[indexSlick].attributes">
        <app-box-property [ngClass]="{'help' : status}" title="{{ metric.attribute.name }}" *ngIf="metric && !metric.attribute.manualDefiner"> {{ metric.attribute.type }} </app-box-property>
      </ng-container>
    </div>
  </div>
</div>

<div class="row boxCharactersDeck" *ngIf="playerDeck && !loaderDeck">
  <div class="charactersDeck" *ngFor="let card of playerDeck" [ngClass]="{'help' : status}" matTooltip="{{ card.cardName }}">
    <div *ngIf="card.avoid.toLowerCase() === 'inactive'">
      <img class="card-star" [src]="card.classification.starUrl | image | async">
      <img class="card-img" width="100%" [src]="card.classification.url | image | async">
      <img class="logo" [src]="card.url | image | async">
    </div>
    <div *ngIf="card.avoid.toLowerCase() === 'active'">
      <img class="card-star" [src]="card.classification.starUrl | image | async">
      <img class="logo" [src]="card.url | image | async">
      <div [ngStyle]="{'background-color': 'black'}" [style.opacity]="0.2">
        <img class="card-img" width="100%" [src]="card.classification.url | image | async">
      </div>
    </div>
    <div class="row">
      <button [ngStyle]="{'background-color': mainStyle}" class="btn-floating waves-effect waves-light deckButton2"
              [ngClass]="{'isInDeck': isInDeck}" (click)="disableCard(card)">
        <i class="material-icons-outlined" *ngIf="card.avoid.toLowerCase() === 'active'">toggle_on</i>
        <i class="material-icons" *ngIf="card.avoid.toLowerCase() === 'inactive'">toggle_off</i>
      </button>
      <button [disabled]="getDisabled(card.classification.attributes)"
              [ngStyle]="{'background-color': mainStyle}" class="btn-floating waves-effect waves-light deckButton1"
              [ngClass]="{'isInDeck': isInDeck}" (click)="removeCard(card.classification.attributes)">
        <i class="material-icons">remove</i>
      </button>
    </div>
  </div>
</div>
