.windowContainer {
  position: fixed;
  right: 50px;
  bottom: 8rem;
  width: 25vw;
  z-index: 10000;
}

.minimized {
  position: fixed;
  bottom: -30rem;
  right: 20rem;
  width: 25vw;
  height: 500px;
}

.chatbotFooter {
  position: relative;
  height: 50px;
  border-style: solid;
  border-width: 1px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.micBlack {
  color: #000;
}

.micRed {
  color: #d90707;
}

.formContainer {
  height: 80%;
  width: 80%;
  border: 3px solid red;
}

.inputContainer {
  width: 50px;
  height: inherit;
  outline: none;
  color: #000;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0 45px 0 15px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  line-height: 1rem;
}

.icon {
  width: 40px;
  height: 40px;
  margin-top: 4px;
}

.formButtons {
  position: absolute;
  right: 5px;
}
