section {
    height: 100%;
}
section .background{
    position: relative;
}
section .background::before {
    content: "";
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100vh;  
    /* opacity: .55;  */
    z-index: -1;
    background-image: url('../../../../assets/images/backgroundFilter.jpg');
    background-size: cover;
}
.header {
    position: relative;
    display: inline-block;
}
.title {
    position: absolute;
    display: inline-block;
    padding: 20px 75px 0px;
    display: contents;
    /* border-bottom: 2px solid #fff; */
}
.title h1 {
    color: #fff;
    font-weight: bold;
    font-size: 32px;
}
/* .title::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 36px;
    background-color: #fff;
    bottom: -6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(135deg);
    margin-left: 71px;
    left: -84px;
}
.title::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 36px;
    background-color: #fff;
    bottom: -6px;
    -webkit-transform: rotate(135deg);
    transform: rotate(45deg);
    margin-right: 90px;
    right: -104px;
} */
form input,
form select {
    border: 2px solid #6589a4;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    opacity: 0.9;
    font-weight: bold;
    background: linear-gradient(to right bottom, #1e6689, #1d5f80, #1b5877, #1a516e, #184a65, #17465f, #15425a, #143e54, #143b51, #13394d, #13364a, #123447);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    padding: 0px 15px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
    display: block;
}
form input:focus, 
form input:active, 
form input:hover,
form select:focus, 
form select:active, 
form select:hover {
    background: #6589a4;
    border: 2px solid #6589a4 !important;
    border-radius: 10px;
    transform: scale(1.01);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4) !important; 
}
.btn-send {
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 25px;
    background-color: #6589a4;
    color: #fff;
    border: none;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.btn-send:focus, .btn-send:active, .btn-send:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4);
}
.form-select {
    /* margin-top: 15px; */
    position: relative;
    margin-top: 1rem;
    padding-bottom: 5px;
}
  /* .form-select:focus, .form-select:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  } */
/* .form-select:after {
    content: '▾';
    position: absolute;
    top: 0;
    right: 12px;
    z-index: 1;
    color: #bbbbbb;
    line-height: 40px;
    font-size: 14px;
}   */
/* select {
    position: relative;
    background: transparent;
    background-image: none;
    display: block;
    width: 100%;
    outline: none;
    color: #888888;
    cursor: pointer;
    z-index: 2;
    border: none;
    padding: 10px 10px 10px 5px;
    text-overflow: '';
    text-indent: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #888888;
}
select::-ms-expand {
    display: none;
} */

.footer {
    background-image: url('../../../../assets/images/footer.png');
    background-size: cover;
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 100px;
}
.line {
    position: absolute;
    margin-top: 0px;
    height: 2px;
    width: 100%;
    left: 0px;
    background-color: #fff;
}

.back {
    margin: 0px;
    padding: 12px;
    color: #fff;
    border: none;
    position: absolute;
    left: 20px;
    top: 70px;
    background: #cc092f;
    width: 50px;
    border-radius: 50%;
    height: 50px;
}
.ng-autocomplete .input-container input {
    margin-bottom: 0px !important;
}

.ng-autocomplete {
    width: 100%;
}

.ng-autocomplete .suggestions-container {
    position: absolute;
    width: 100%;
    background: #fff;
    height: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    box-sizing: border-box;
    margin-top: -20px !important;
}

.btnAdd {
    position: absolute;
}